[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn-flat,
.btn-group > .btn-flat + .dropdown-toggle {
    /*filter: progid: DXImageTransform.Microsoft.Gradient(enabled='false');*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    border: 0;
}

.btn-group.narrow > .btn {
    padding: 4px 6px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#kloudspeaker,
a.button,
input,
.kloudspeaker-popupmenu,
.kloudspeaker-popup,
.kloudspeaker-itemcontext-popover {
    font-size: 12px;
    font-family: 'proxima-nova', 'KloudspeakerPlainText', "Lucida Grande", "Trebuchet MS", Lucida, Verdana, sans-serif;
}

li.dropdown-item,
.dropdown-submenu {
    font-family: 'proxima-nova', 'KloudspeakerPlainText', "Lucida Grande", "Trebuchet MS", Lucida, Verdana, sans-serif;
    font-size: 14px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    margin: 0;
}

.time-picker .add-on {
    cursor: pointer;
}

.popover-title button.close {
    line-height: 15px;
}

.kloudspeaker-notification {
    background-color: rgba(0, 0, 0, 0.5);
}

.kloudspeaker-notification-content {
    padding: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.kloudspeaker-wait,
.loading {
    background: url(images/wait.gif) no-repeat center center;
}

.kloudspeaker-wait {
    width: 100px;
    height: 100px;
}

.kloudspeaker-custom-dialog-button.secondary {
    float: left;
}

.kloudspeaker-dialog p.debug {
    font-family: monospace;
}

.kloudspeaker-popupmenu-separator:first-child,
.kloudspeaker-popupmenu-separator:last-child {
    display: none;
}

.kloudspeaker-fullpage-form-bg,
.kloudspeaker-fullpage-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 40px;
    background: #f5f5f5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* W3C */
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);*/
    /* IE6-9 */
}

.kloudspeaker-fullpage .kloudspeaker-fullpage-bg {
    position: fixed;
    margin: 0;
    z-index: 1;
}

.kloudspeaker-fullpage > * {
    position: relative;
    z-index: 2;
}

@media (min-width: 980px) {
    .kloudspeaker-fullpage {
        margin-top: -70px;
    }
}

@media (max-width: 979px) {
    .kloudspeaker-fullpage {
        margin-top: 20px;
    }
}

.kloudspeaker-fullpage-form-bg .container.wide,
.kloudspeaker-fullpage-form.wide {
    max-width: 600px;
}

.kloudspeaker-fullpage-form {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.kloudspeaker-fullpage-form.center * {
    text-align: center;
}

.kloudspeaker-fullpage-form .primary-action {
    margin-top: 20px;
}

.kloudspeaker-bubble-popover {
    width: auto;
    max-width: none;
}

.kloudspeaker-bubble-popover .popover-inner,
.kloudspeaker-bubble-popover .popover-content {
    float: left;
}

.editable-label > label {
    min-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4px;
}

.editable-label > label,
.editable-label > input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editable-label.hover > label {
    border: 1px solid #efefef;
}

.kloudspeaker-slidepanel-container {
    height: 0px;
    position: fixed;
    bottom: -8px;
    left: 10px;
    right: 10px;
    margin-top: 8px;
    overflow: hidden;
    padding: 8px 8px 0 8px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 20;
}

.kloudspeaker-slidepanel-container.relative {
    position: absolute;
}

.kloudspeaker-slidepanel-container button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.kloudspeaker-slidepanel-content-container {
    float: left;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.kloudspeaker-slidepanel-content {
    margin-bottom: 12px;
}

.kloudspeaker-table tr.kloudspeaker-table-empty-hint td {
    font-style: italic;
    color: #949494;
}

.kloudspeaker-table-pager {
    float: left;
}

.pagination ul > li.page-break {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.table.hilight {
    cursor: pointer;
}

input.kloudspeaker-tableselect-header {
    margin-left: 4px;
}

input.kloudspeaker-tableselect {
    margin-top: 0px;
    cursor: default;
}

a.kloudspeaker-tableaction {
    cursor: pointer;
}

.kloudspeaker-fullscreen-popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(50, 50, 50, 0.8);
    z-index: 9999;
}
