#kloudspeaker-dropbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: #eeeeee;
    float: left;
    z-index: 15;
}

#kloudspeaker-dropbox-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #c8c8c8;
    top: 0;
    left: 0;
    margin-left: -30px;
    cursor: pointer;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#kloudspeaker-dropbox-handle > .kloudspeaker-dropbox-handle-icon {
    display: none;
    color: black;
    float: left;
    font-size: 28px;
    margin-left: 10px;
}

#kloudspeaker-dropbox.opened #kloudspeaker-dropbox-handle-icon-close {
    display: block;
}

#kloudspeaker-dropbox.closed #kloudspeaker-dropbox-handle-icon-open {
    display: block;
}

#kloudspeaker-dropbox-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: left;
}

#kloudspeaker-dropbox-content {
    padding: 12px;
    float: left;
    width: 200px;
}

#kloudspeaker-dropbox-list {
    margin: 12px 0 12px 0;
    width: 198px;
    min-height: 110px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background-color: #fafafa;
}

#kloudspeaker-dropbox-list.dragover {
    border-color: #9da2d2;
}

.kloudspeaker-dropbox-list-item {
    float: left;
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px dotted #e8e8e8;
    width: 100%;
    background-color: #f5f5f5;
}

.kloudspeaker-dropbox-list-item > .item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 4px 4px 0 0;
}

.kloudspeaker-dropbox-list-item.file > .item-icon {
    background: url(images/mimetypes/empty.png) no-repeat;
}

.kloudspeaker-dropbox-list-item.folder > .item-icon {
    background: url(images/folder.png) no-repeat 2px 2px;
}

.kloudspeaker-dropbox-list-item > .item-label {
    float: left;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.kloudspeaker-dropbox-list-item > .item-remove {
    display: block;
    float: left;
}
