.kloudspeaker-filelist {
    float: left;
    width: 100%;
    overflow-x: hidden;
}

.kloudspeaker-filelist-header,
.kloudspeaker-filelist-item {
    float: left;
    overflow: hidden;
}

.kloudspeaker-filelist-header {
    margin-bottom: 8px;
    width: 9999px;
}

.kloudspeaker-filelist-items {
    float: left;
    width: 9999px;
}

.kloudspeaker-filelist-item {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    height: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    clear: both;

    .kloudspeaker-filelist-item-panel-placeholder {
    	display: none;
    	width: 100%;
    }

    &.with-panel {
    	height: auto;

    	.kloudspeaker-filelist-item-panel-placeholder {
    		display: block;
    	}
	}
}

.kloudspeaker-filelist-item.dragged {
    opacity: 0.4;
}

.kloudspeaker-filelist-item.hover,
.kloudspeaker-filelist-item.selected {
    background-color: #f6f6f6;
}

.kloudspeaker-filelist-item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 4px;
}

.kloudspeaker-filelist-item-sel.selected {
    display: none;
}

.kloudspeaker-filelist-item-sel.unselected {
    display: block;
}

.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.selected {
    display: block;
}

.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.unselected {
    display: none;
}


/* list view icons */

.kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/empty.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-pdf .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/pdf.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-zip .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/zip.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-mp4 .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/video_mp4.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-mov .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/video_mp4.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-ppt .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_powerpoint.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-pptx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_powerpoint.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-doc .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_word.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-docx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_word.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-xls .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/x_office_spreadsheet.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-xlsx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/x_office_spreadsheet.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-psd .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/image_x_psd.png) no-repeat;
}

.kloudspeaker-filelist-col-header {
    display: inline-block;
    font-weight: bold;
    color: #333333;
}

#kloudspeaker-filelist-items,
.kloudspeaker-filelist-header,
.kloudspeaker-filelist-header-cols,
.kloudspeaker-filelist-col-header {
    float: left;
}

.kloudspeaker-filelist-header-cols {
    display: block;
    overflow: hidden;
}

.kloudspeaker-filelist-col-header-title {
    cursor: pointer;
    float: left;
}

.kloudspeaker-filelist-col-sort-indicator {
    height: 5px;
    width: 10px;
    float: left;
    visibility: hidden;
    margin-left: 4px;
    margin-top: 6px;
}

.kloudspeaker-filelist-col-header.sort-asc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-asc.png) no-repeat;
}

.kloudspeaker-filelist-col-header.sort-desc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-desc.png) no-repeat;
}

.kloudspeaker-filelist-col-header.ui-resizable-resizing {
    background: #eeeeee;
}

.kloudspeaker-filelist-col {
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
}

.kloudspeaker-filelist-col-item-description {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kloudspeaker-filelist-col-sel {
    width: 0px;
    visibility: hidden;
    font-size: 16px;
    padding: 2px 0 0 2px;
}

.kloudspeaker-filelist.select .kloudspeaker-filelist-col-sel,
.kloudspeaker-filelist-header-cols.select .kloudspeaker-filelist-col-sel {
    width: 25px;
    visibility: visible;
}

.kloudspeaker-filelist-col-icon {
    width: 25px;
}

.kloudspeaker-filelist-col-name {
    width: 200px;
    word-break: break-all;
}

.kloudspeaker-filelist-col-path {
    color: #a6a6a6;
    text-overflow: ellipsis;
}

.kloudspeaker-filelist-col-file-modified {
    color: #949494;
}

.kloudspeaker-filelist-contextph,
.kloudspeaker-iconview-contextph {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.kloudspeaker-filelist-quickmenu {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(images/circle_arrow_right.png) no-repeat;
    margin-bottom: 2px;
    margin-left: 8px;
    vertical-align: middle;
    visibility: hidden;
}

.item-folder .kloudspeaker-filelist-item-icon {
    background: url(images/folder.png) no-repeat 2px 2px;
}

.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-quickmenu,
.kloudspeaker-filelist-quickmenu.open {
    visibility: visible;
}

.kloudspeaker-filelist-item.drophover .kloudspeaker-filelist-quickmenu,
.kloudspeaker-filelist-item.ui-draggable-dragging .kloudspeaker-filelist-quickmenu {
    visibility: hidden;
}

.kloudspeaker-filelist-header-cols > .kloudspeaker-filelist-col-header {
    color: #000000;
}

.kloudspeaker-filelist-col-go-into-folder {
    visibility: hidden;
}

.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-col-go-into-folder,
html.touch .kloudspeaker-filelist-col-go-into-folder {
    visibility: visible;
}

.kloudspeaker-iconview-header {
    float: left;
    width: 70%;
    height: 10px;
    border-bottom: 1px solid #dedede;
    display: none;
}

.kloudspeaker-iconview {
    float: left;
}

.kloudspeaker-iconview-item {
    position: relative;
    clear: none;
    display: block;
    float: left;
    width: 200px;
    height: 185px;
    cursor: pointer;
    margin: 6px;
}

.kloudspeaker-iconview-item.hover {
    margin: 4px;
    border: 2px solid #eeeeee;
}

.kloudspeaker-iconview-item.selected {
    background-color: #fafafa;
}

.kloudspeaker-iconview-item.ui-draggable-dragging {
    background-color: transparent;
    border: none;
    margin: 6px;
}

.kloudspeaker-iconview-item.drophover {
    background: red;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item {
    width: 100px;
    height: 100px;
}

.kloudspeaker-iconview-item-icon,
.kloudspeaker-iconview-item-icon-thumb {
    width: 195px;
    height: 145px;
    margin-left: 13px;
    margin-top: 14px;
    overflow: hidden;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon,
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon-thumb {
    width: 75px;
    height: 70px;
    margin-top: 4px;
    margin-left: 13px;
}

.kloudspeaker-iconview-item-icon-thumb > img {
    width: 100%;
    height: auto;
}


/* large icons */

.kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/empty.png) no-repeat 24px 7px;
    pointer-events: none;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/empty.png) no-repeat 4px 7px;
}

.kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/pdf.png);
}

.kloudspeaker-iconview-item.item-type-zip .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/zip.png);
}

.kloudspeaker-iconview-item.item-type-mp4 .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/video_mp4.png);
}

.kloudspeaker-iconview-item.item-type-mov .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/video_mp4.png);
}

.kloudspeaker-iconview-item.item-type-ppt .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview-item.item-type-pptx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview-item.item-type-doc .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_word.png);
}

.kloudspeaker-iconview-item.item-type-docx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_word.png);
}

.kloudspeaker-iconview-item.item-type-xls .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview-item.item-type-xlsx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview-item.item-type-psd .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/image_x_psd.png);
}


/* small icons */

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/pdf.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/pdf.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-zip .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/zip.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-mp4 .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/video_mp4.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-mov .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/video_mp4.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-ppt .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pptx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-doc .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_word.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-docx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_word.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-xls .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-xlsx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-psd .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/image_x_psd.png);
}

.kloudspeaker-iconview-item-label {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 6px;
    overflow: hidden;
    pointer-events: none;
}

.kloudspeaker-iconview-item-sel {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.kloudspeaker-iconview-item-info {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info {
    display: block;
}

.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info:hover {
    font-size: 120%;
}

.kloudspeaker-iconview.select .kloudspeaker-iconview-item-sel {
    display: block;
}

.kloudspeaker-iconview-item-sel-option.selected {
    display: none;
}

.kloudspeaker-iconview-item-sel-option.unselected {
    display: block;
}

.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.selected {
    display: block;
}

.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.unselected {
    display: none;
}

.kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/folder.png) no-repeat 23px 10px;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/folder.png) no-repeat 5px 10px;
}
