#kloudspeaker-login-main > #kloudspeaker-notification-container,
.kloudspeaker-notification-container {
    margin-top: 30px;
    position: relative;
}

#kloudspeaker-login-main .kloudspeaker-wait {
    width: 100%;
}

.kloudspeaker-logo {
    margin: 40px 0 40px 0;
    height: 100px;
    background-image: url(images/kloudspeaker_img2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#kloudspeaker-login-forgot-password {
    margin-right: 10px;
}

#kloudspeaker-login-forgot-email {
    clear: both;
    text-align: left;
}
