#kloudspeaker-mainview-viewcontent {
    float: left;
}

#kloudspeaker-mainview-main {}

#kloudspeaker-notification-container.kloudspeaker-mainview-notification-container {
    position: absolute;
    top: 80px;
    right: 5px;
}

#kloudspeaker-mainview-main.in {
    background: palegreen;
}

#kloudspeaker-mainview-header {}

#kloudspeaker-mainview-logo {
    width: 70px;
    height: 62px;
    background: url(images/kloudspeaker_img_small2.png) no-repeat;
    margin: 6px 0 2px 0;
    padding: 0;
}

.kloudspeaker-mainview-menubar-item-icon {
    font-size: 20px;
    margin-right: 10px;
}

.kloudspeaker-mainview-menubar-item-title {
    line-height: 15px;
    vertical-align: text-bottom;
}

.kloudspeaker-mainview-menu-item {
    cursor: pointer;
}

#kloudspeaker-mainview-user {}

#kloudspeaker-fileview-style-options,
#kloudspeaker-mainview-search {
    margin-top: 4px;
}

#kloudspeaker-fileview-style-options button {
    background-color: #222222;
}

#kloudspeaker-fileview-style-options button.active {
    background-color: #383838;
}

#kloudspeaker-mainview-search-input {
    width: 150px;
}

#kloudspeaker-mainview-createfolder-content {
    width: 355px;
}

#kloudspeaker-mainview-createfolder-name-input {
    width: 300px;
}

#kloudspeaker-mainview-addfile {}

.kloudspeaker-mainview-addfile-section {
    float: left;
    width: 300px;
    clear: both;
}

#kloudspeaker-uploader-widget {
    float: left;
    width: 100%;
}

#kloudspeaker-uploader-widget.in {
    background: palegreen;
}

.kloudspeaker-uploader-widget-title {
    display: block;
    float: left;
}

.kloudspeaker-uploader-file-selector {
    float: left;
    clear: both;
}

#kloudspeaker-mainview-addfile-retrieve {
    padding-top: 16px;
}

#kloudspeaker-mainview-addfile-retrieve-url-input {
    width: 248px;
}

.kloudspeaker-mainview-notification {
    position: fixed;
    top: 90px;
    left: 40px;
    right: 0;
    margin: auto;
    width: 50%;
}

.kloudspeaker-mainview-notification.full {
    width: 80%;
}

#kloudspeaker-mainview-content {}

#kloudspeaker-mainview-progress {
    position: fixed;
    bottom: -40px;
    height: 40px;
    width: 400px;
    z-index: 95;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#kloudspeaker-mainview-progress .title {
    font-weight: bold;
}

#kloudspeaker-mainview-progress .speed {
    float: right;
    margin-right: 20px;
}

#kloudspeaker-mainview-progress .progress,
#kloudspeaker-mainview-progress .title {
    float: left;
}

#kloudspeaker-mainview-progress .close {
    float: right;
    margin-top: -4px;
}

#kloudspeaker-mainview-progress .progress {
    width: 100%;
}

#kloudspeaker-mainview-navlist-container {}

#kloudspeaker-mainview-navlist-parent {
    margin: 8px 0 0 8px;
    z-index: 1;
}

#kloudspeaker-mainview-navlist-content {
    overflow-y: auto;
}

@media (max-width: 767px) {
    #kloudspeaker-mainview-navlist-content {
        max-height: 300px;
    }
}

.navlist-sep {
    margin-top: 8px;
}

#kloudspeaker-folderview {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 30px;
}

#kloudspeaker-folderview-detachholder {
    float: left;
    display: none;
}

#kloudspeaker-folderview-header {
    padding-top: 10px;
    float: left;
    clear: both;
    width: 100%;
}

#kloudspeaker-folderview-header-content {
    float: left;
    width: 100%;
}

#kloudspeaker-fileview-folder-tools {
    display: inline-block;
    margin: 4px 4px 0 0;
    vertical-align: middle;
}

#kloudspeaker-mainview-fileview-toolbar button {
    background-color: #b4b4b4;
}

#kloudspeaker-folder-tools {
    display: inline-block;
}

#kloudspeaker-folder-tools .btn-group {
    margin: 0;
}

.btn.foldertool {
    height: 30px;
    margin-right: 4px;
}

#kloudspeaker-folder-name,
#kloudspeaker-folder-hierarchy {
    margin-bottom: 0px;
}

#kloudspeaker-folder-name > h2 {
    margin: 6px 0 0 0;
}

#kloudspeaker-fileview-folder-hierarchy {
    display: inline-block;
    font-size: 14px;
    padding: 5px 8px 3px 8px;
    vertical-align: middle;
    height: 22px;
    margin: 0 0 0 6px;
}

#kloudspeaker-folderview-items {
    float: left;
    overflow: hidden;
    overflow-y: auto;
    min-height: 300px;
    min-width: 90%;
    max-width: 100%;
}

#kloudspeaker-folderview-header-items {
    float: left;
    width: 100%;
    overflow: hidden;
}

.kloudspeaker-filelist-header {
    border-bottom: 1px solid #ececec;
    height: 22px;
}

#kloudspeaker-searchresults-desc {
    float: left;
    margin-left: 12px;
    clear: both;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}

#kloudspeaker-folder-name,
.kloudspeaker-folderview-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0px 0px 0px 8px;
    border: none;
    float: left;
}

.kloudspeaker-folderview-title.root-list {
    display: block;
    float: left;
}

#kloudspeaker-fileview-folder-info {
    display: inline-block;
    vertical-align: middle;
}

#kloudspeaker-folder-name > h2,
#kloudspeaker-fileview-folder-actions {
    display: inline-block;
    vertical-align: middle;
}

#kloudspeaker-fileview-folder-actions {
    margin: 6px 0 0 8px;
}

#kloudspeaker-fileview-folder-actions.root-list,
.kloudspeaker-fileview-header-custom #kloudspeaker-fileview-folder-actions {
    margin: 15px 0 0 15px;
}

#kloudspeaker-fileview-folder-actions .btn {
    color: #9d9d9d;
    background: none;
    margin-right: 0;
}

#kloudspeaker-fileview-folder-actions .btn-group.active .btn-flat {
    background-color: #dddddd;
    color: #000000;
}

#kloudspeaker-fileview-folder-actions .btn-group + .btn-group {
    margin-left: 0;
}

#kloudspeaker-fileview-folder-actions .btn b.caret {
    border-top-color: #9d9d9d;
    color: #9d9d9d;
}

#kloudspeaker-fileview-folder-actions .btn-group.active .btn b.caret {
    border-top-color: #000000;
}

#kloudspeaker-fileview-folder-actions .btn:hover,
#kloudspeaker-fileview-folder-actions .btn:hover b.caret {
    background-color: #f9f9f9;
    color: #000;
    border-top-color: #000000;
}

li#kloudspeaker-folder-hierarchy-item-root a.dropdown-toggle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(images/home.png) no-repeat 0 3px;
}

#kloudspeaker-folder-hierarchy-items {
    float: left;
}

.folder-hierarchy-item {
    cursor: pointer;
    color: #93a9cd;
}

.kloudspeaker-filelist-item.dragover,
.kloudspeaker-folder-hierarchy-item > a.dragover,
.kloudspeaker-mainview-navbar-item.dragover,
.kloudspeaker-iconview-item.dragover {
    background: #ded9f7;
}

.kloudspeaker-itemcontext-content.loading {
    min-height: 200px;
}

.kloudspeaker-itemcontext-popover {
    min-width: 500px;
    margin-bottom: 16px;
}

#kloudspeaker-itemcontext-description {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

#kloudspeaker-folder-description {
    float: left;
    clear: both;
    width: 100%;
    padding-left: 4px;
    color: #6d6d6d;
}

#kloudspeaker-folder-description.hint,
#kloudspeaker-itemcontext-description.hint {
    font-style: italic;
    color: #dfdfdf;
}

#kloudspeaker-itemcontext-details {
    position: relative;
    min-height: 300px;
}

#kloudspeaker-itemcontext-details-content,
.kloudspeaker-itemcontext-details-selector.active {
    background-color: #ffffff;
}

#kloudspeaker-itemcontext-details-selectors {
    margin-bottom: 0;
}

#kloudspeaker-itemcontext-details-content {
    height: 240px;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 4px;
    overflow-y: scroll;
}

#kloudspeaker-mainview-createfolder-title {
    float: left;
    padding-bottom: 8px;
}

#kloudspeaker-mainview-createfolder-name {
    margin: 0;
}

.kloudspeaker-uploader-add {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

.kloudspeaker-uploader-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.kloudspeaker-mainview-navbar-item {
    position: relative;
}

.kloudspeaker-mainview-navbar-item .kloudspeaker-mainview-navbar-dropdown {
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
    visibility: hidden;
}

.kloudspeaker-mainview-navbar-item:hover .kloudspeaker-mainview-navbar-dropdown,
.kloudspeaker-mainview-navbar-dropdown.open {
    visibility: visible;
}

@media (min-width: $screen-md-max) {
    body {
        padding-top: 90px;
    }
    /*#kloudspeaker-mainview-menu {
        margin: 15px 0 0 8px;
    }*/
    #kloudspeaker-mainview-viewtools {
        margin: 15px 0 0 0;
    }
    #kloudspeaker-mainview-user {
        margin: 15px 0 0 0;
    }
    #kloudspeaker-folderview.detached #kloudspeaker-folderview-header {
        position: fixed;
        background-color: #ffffff;
        margin-top: -20px;
        padding-top: 20px;
        z-index: 10;
    }
    #kloudspeaker-folderview.detached .kloudspeaker-iconview-header {
        display: block;
    }
    #kloudspeaker-folderview.detached #kloudspeaker-folderview-detachholder {
        width: 100%;
        display: block;
    }
    #kloudspeaker-folderview.detached .no-detached {
        display: none;
    }
    /*#kloudspeaker-folderview-header {
        position: fixed;
        top: 60px;
        background-color: #ffffff;
        padding-top: 30px;
    }
    
    #kloudspeaker-folderview-items {
        padding-top: 125px;
    }*/
}

@media (max-width: $screen-md-max) {
    body {
        padding-top: 0;
    }
    .navbar .btn-navbar {
        margin: 25px 0 0 0;
    }
}

#kloudspeaker-mainview-navlist-parent {
    width: 16.92817679558011%;
}


/* Large desktop */

@media (min-width: $screen-lg-min) {
    #kloudspeaker-mainview-navlist-parent {
        width: 18.404255319148934%;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #kloudspeaker-mainview-navlist-parent {
        position: relative;
        width: 70%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: $screen-sm-min) {
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin: 0;
    }
    #kloudspeaker-mainview-navlist-parent {
        position: relative;
        width: 87%;
        margin-right: 0;
    }
    #kloudspeaker-mainview-viewcontent {
        float: left;
        padding: 8px 16px 0 16px;
        min-height: 600px;
    }
    #kloudspeaker-folderview-header {
        padding-top: 0;
    }
}
