#kloudspeaker-mainview-viewcontent {
    float: left;
}

#kloudspeaker-mainview-main {}

#kloudspeaker-notification-container.kloudspeaker-mainview-notification-container {
    position: absolute;
    top: 80px;
    right: 5px;
}

#kloudspeaker-mainview-main.in {
    background: palegreen;
}

#kloudspeaker-mainview-header {}

#kloudspeaker-mainview-logo {
    width: 70px;
    height: 62px;
    background: url(images/kloudspeaker_img_small2.png) no-repeat;
    margin: 6px 0 2px 0;
    padding: 0;
}

.kloudspeaker-mainview-menubar-item-icon {
    font-size: 20px;
    margin-right: 10px;
}

.kloudspeaker-mainview-menubar-item-title {
    line-height: 15px;
    vertical-align: text-bottom;
}

.kloudspeaker-mainview-menu-item {
    cursor: pointer;
}

#kloudspeaker-mainview-user {}

#kloudspeaker-fileview-style-options,
#kloudspeaker-mainview-search {
    margin-top: 4px;
}

#kloudspeaker-fileview-style-options button {
    background-color: #222222;
}

#kloudspeaker-fileview-style-options button.active {
    background-color: #383838;
}

#kloudspeaker-mainview-search-input {
    width: 150px;
}

#kloudspeaker-mainview-createfolder-content {
    width: 355px;
}

#kloudspeaker-mainview-createfolder-name-input {
    width: 300px;
}

#kloudspeaker-mainview-addfile {}

.kloudspeaker-mainview-addfile-section {
    float: left;
    width: 300px;
    clear: both;
}

#kloudspeaker-uploader-widget {
    float: left;
    width: 100%;
}

#kloudspeaker-uploader-widget.in {
    background: palegreen;
}

.kloudspeaker-uploader-widget-title {
    display: block;
    float: left;
}

.kloudspeaker-uploader-file-selector {
    float: left;
    clear: both;
}

#kloudspeaker-mainview-addfile-retrieve {
    padding-top: 16px;
}

#kloudspeaker-mainview-addfile-retrieve-url-input {
    width: 248px;
}

.kloudspeaker-mainview-notification {
    position: fixed;
    top: 90px;
    left: 40px;
    right: 0;
    margin: auto;
    width: 50%;
}

.kloudspeaker-mainview-notification.full {
    width: 80%;
}

#kloudspeaker-mainview-content {}

#kloudspeaker-mainview-progress {
    position: fixed;
    bottom: -40px;
    height: 40px;
    width: 400px;
    z-index: 95;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#kloudspeaker-mainview-progress .title {
    font-weight: bold;
}

#kloudspeaker-mainview-progress .speed {
    float: right;
    margin-right: 20px;
}

#kloudspeaker-mainview-progress .progress,
#kloudspeaker-mainview-progress .title {
    float: left;
}

#kloudspeaker-mainview-progress .close {
    float: right;
    margin-top: -4px;
}

#kloudspeaker-mainview-progress .progress {
    width: 100%;
}

#kloudspeaker-mainview-navlist-container {}

#kloudspeaker-mainview-navlist-parent {
    margin: 8px 0 0 8px;
    z-index: 1;
}

.navlist-sep {
    margin-top: 8px;
}

#kloudspeaker-folderview {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 30px;
}

#kloudspeaker-folderview-detachholder {
    float: left;
    display: none;
}

#kloudspeaker-folderview-header {
    padding-top: 10px;
    float: left;
    clear: both;
    width: 100%;
}

#kloudspeaker-folderview-header-content {
    float: left;
    width: 100%;
}

#kloudspeaker-fileview-folder-tools {
    display: inline-block;
    margin: 4px 4px 0 0;
    vertical-align: middle;
}

#kloudspeaker-mainview-fileview-toolbar button {
    background-color: #b4b4b4;
}

#kloudspeaker-folder-tools {
    display: inline-block;
}

#kloudspeaker-folder-tools .btn-group {
    margin: 0;
}

.btn.foldertool {
    height: 30px;
    margin-right: 4px;
}

#kloudspeaker-folder-name,
#kloudspeaker-folder-hierarchy {
    margin-bottom: 0px;
}

#kloudspeaker-folder-name > h2 {
    margin: 6px 0 0 0;
}

#kloudspeaker-fileview-folder-hierarchy {
    display: inline-block;
    font-size: 14px;
    padding: 5px 8px 3px 8px;
    vertical-align: middle;
    height: 22px;
    margin: 0 0 0 6px;
}

#kloudspeaker-folderview-items {
    float: left;
    overflow: hidden;
    overflow-y: auto;
    min-height: 300px;
    min-width: 90%;
    max-width: 100%;
}

#kloudspeaker-folderview-header-items {
    float: left;
    width: 100%;
    overflow: hidden;
}

.kloudspeaker-filelist {
    float: left;
    width: 100%;
    overflow-x: hidden;
}

.kloudspeaker-filelist-header {
    border-bottom: 1px solid #ececec;
    height: 22px;
}

#kloudspeaker-searchresults-desc {
    float: left;
    margin-left: 12px;
    clear: both;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}

#kloudspeaker-folder-name,
.kloudspeaker-folderview-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0px 0px 0px 8px;
    border: none;
    float: left;
}

.kloudspeaker-folderview-title.root-list {
    display: block;
    float: left;
}

#kloudspeaker-fileview-folder-info {
    display: inline-block;
    vertical-align: middle;
}

#kloudspeaker-folder-name > h2,
#kloudspeaker-fileview-folder-actions {
    display: inline-block;
    vertical-align: middle;
}

#kloudspeaker-fileview-folder-actions {
    margin: 6px 0 0 8px;
}

#kloudspeaker-fileview-folder-actions.root-list,
.kloudspeaker-fileview-header-custom #kloudspeaker-fileview-folder-actions {
    margin: 15px 0 0 15px;
}

#kloudspeaker-fileview-folder-actions .btn {
    color: #9d9d9d;
    background: none;
    margin-right: 0;
}

#kloudspeaker-fileview-folder-actions .btn-group.active .btn-flat {
    background-color: #dddddd;
    color: #000000;
}

#kloudspeaker-fileview-folder-actions .btn-group + .btn-group {
    margin-left: 0;
}

#kloudspeaker-fileview-folder-actions .btn b.caret {
    border-top-color: #9d9d9d;
    color: #9d9d9d;
}

#kloudspeaker-fileview-folder-actions .btn-group.active .btn b.caret {
    border-top-color: #000000;
}

#kloudspeaker-fileview-folder-actions .btn:hover,
#kloudspeaker-fileview-folder-actions .btn:hover b.caret {
    background-color: #f9f9f9;
    color: #000;
    border-top-color: #000000;
}

li#kloudspeaker-folder-hierarchy-item-root a.dropdown-toggle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(images/home.png) no-repeat 0 3px;
}

#kloudspeaker-folder-hierarchy-items {
    float: left;
}

.folder-hierarchy-item {
    cursor: pointer;
    color: #93a9cd;
}

.kloudspeaker-filelist-header,
.kloudspeaker-filelist-item {
    float: left;
    overflow: hidden;
}

.kloudspeaker-filelist-header {
    margin-bottom: 8px;
    width: 9999px;
}

.kloudspeaker-filelist-items {
    float: left;
    width: 9999px;
}

.kloudspeaker-filelist-item {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    height: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    clear: both;
}

.kloudspeaker-filelist-item.dragged {
    opacity: 0.4;
}

.kloudspeaker-filelist-item.dragover,
.kloudspeaker-folder-hierarchy-item > a.dragover,
.kloudspeaker-mainview-navbar-item.dragover,
.kloudspeaker-iconview-item.dragover {
    background: #ded9f7;
}

.kloudspeaker-filelist-item.hover,
.kloudspeaker-filelist-item.selected {
    background-color: #f6f6f6;
}

.kloudspeaker-filelist-item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 4px;
}

.kloudspeaker-filelist-item-sel.selected {
    display: none;
}

.kloudspeaker-filelist-item-sel.unselected {
    display: block;
}

.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.selected {
    display: block;
}

.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.unselected {
    display: none;
}


/* list view icons */

.kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/empty.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-pdf .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/pdf.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-zip .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/zip.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-mp4 .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/video_mp4.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-mov .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/video_mp4.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-ppt .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_powerpoint.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-pptx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_powerpoint.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-doc .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_word.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-docx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/application_vnd.ms_word.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-xls .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/x_office_spreadsheet.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-xlsx .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/x_office_spreadsheet.png) no-repeat;
}

.kloudspeaker-filelist-item.item-type-psd .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/image_x_psd.png) no-repeat;
}

.kloudspeaker-filelist-col-header {
    display: inline-block;
    font-weight: bold;
    color: #333333;
}

#kloudspeaker-filelist-items,
.kloudspeaker-filelist-header,
.kloudspeaker-filelist-header-cols,
.kloudspeaker-filelist-col-header {
    float: left;
}

.kloudspeaker-filelist-header-cols {
    display: block;
    overflow: hidden;
}

.kloudspeaker-filelist-col-header-title {
    cursor: pointer;
    float: left;
}

.kloudspeaker-filelist-col-sort-indicator {
    height: 5px;
    width: 10px;
    float: left;
    visibility: hidden;
    margin-left: 4px;
    margin-top: 6px;
}

.kloudspeaker-filelist-col-header.sort-asc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-asc.png) no-repeat;
}

.kloudspeaker-filelist-col-header.sort-desc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-desc.png) no-repeat;
}

.kloudspeaker-filelist-col-header.ui-resizable-resizing {
    background: #eeeeee;
}

.kloudspeaker-filelist-col {
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
}

.kloudspeaker-filelist-col-item-description {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kloudspeaker-filelist-col-sel {
    width: 0px;
    visibility: hidden;
    font-size: 16px;
    padding: 2px 0 0 2px;
}

.kloudspeaker-filelist.select .kloudspeaker-filelist-col-sel,
.kloudspeaker-filelist-header-cols.select .kloudspeaker-filelist-col-sel {
    width: 25px;
    visibility: visible;
}

.kloudspeaker-filelist-col-icon {
    width: 25px;
}

.kloudspeaker-filelist-col-name {
    width: 200px;
}

.kloudspeaker-filelist-col-path {
    color: #a6a6a6;
    text-overflow: ellipsis;
}

.kloudspeaker-filelist-col-file-modified {
    color: #949494;
}

.kloudspeaker-filelist-contextph,
.kloudspeaker-iconview-contextph {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.kloudspeaker-filelist-quickmenu {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(images/circle_arrow_right.png) no-repeat;
    margin-bottom: 2px;
    margin-left: 8px;
    vertical-align: middle;
    visibility: hidden;
}

.item-folder .kloudspeaker-filelist-item-icon {
    background: url(images/folder.png) no-repeat 2px 2px;
}

.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-quickmenu,
.kloudspeaker-filelist-quickmenu.open {
    visibility: visible;
}

.kloudspeaker-filelist-item.drophover .kloudspeaker-filelist-quickmenu,
.kloudspeaker-filelist-item.ui-draggable-dragging .kloudspeaker-filelist-quickmenu {
    visibility: hidden;
}

.kloudspeaker-filelist-header-cols > .kloudspeaker-filelist-col-header {
    color: #000000;
}

.kloudspeaker-filelist-col-go-into-folder {
    visibility: hidden;
}

.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-col-go-into-folder,
html.touch .kloudspeaker-filelist-col-go-into-folder {
    visibility: visible;
}

.kloudspeaker-iconview-header {
    float: left;
    width: 70%;
    height: 10px;
    border-bottom: 1px solid #dedede;
    display: none;
}

.kloudspeaker-iconview {
    float: left;
}

.kloudspeaker-iconview-item {
    position: relative;
    clear: none;
    display: block;
    float: left;
    width: 200px;
    height: 185px;
    cursor: pointer;
    margin: 6px;
}

.kloudspeaker-iconview-item.hover {
    margin: 4px;
    border: 2px solid #eeeeee;
}

.kloudspeaker-iconview-item.selected {
    background-color: #fafafa;
}

.kloudspeaker-iconview-item.ui-draggable-dragging {
    background-color: transparent;
    border: none;
    margin: 6px;
}

.kloudspeaker-iconview-item.drophover {
    background: red;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item {
    width: 100px;
    height: 100px;
}

.kloudspeaker-iconview-item-icon,
.kloudspeaker-iconview-item-icon-thumb {
    width: 195px;
    height: 145px;
    margin-left: 13px;
    margin-top: 14px;
    overflow: hidden;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon,
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon-thumb {
    width: 75px;
    height: 70px;
    margin-top: 4px;
    margin-left: 13px;
}

.kloudspeaker-iconview-item-icon-thumb > img {
    width: 100%;
    height: auto;
}


/* large icons */

.kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/empty.png) no-repeat 24px 7px;
    pointer-events: none;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/empty.png) no-repeat 4px 7px;
}

.kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/pdf.png);
}

.kloudspeaker-iconview-item.item-type-zip .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/zip.png);
}

.kloudspeaker-iconview-item.item-type-mp4 .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/video_mp4.png);
}

.kloudspeaker-iconview-item.item-type-mov .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/video_mp4.png);
}

.kloudspeaker-iconview-item.item-type-ppt .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview-item.item-type-pptx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview-item.item-type-doc .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_word.png);
}

.kloudspeaker-iconview-item.item-type-docx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_word.png);
}

.kloudspeaker-iconview-item.item-type-xls .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview-item.item-type-xlsx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview-item.item-type-psd .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/image_x_psd.png);
}


/* small icons */

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/pdf.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/pdf.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-zip .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/zip.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-mp4 .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/video_mp4.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-mov .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/video_mp4.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-ppt .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pptx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_powerpoint.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-doc .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_word.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-docx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_word.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-xls .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-xlsx .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/application_vnd.ms_excel.png);
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-psd .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/image_x_psd.png);
}

.kloudspeaker-iconview-item-label {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 6px;
    overflow: hidden;
    pointer-events: none;
}

.kloudspeaker-iconview-item-sel {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.kloudspeaker-iconview-item-info {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info {
    display: block;
}

.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info:hover {
    font-size: 120%;
}

.kloudspeaker-iconview.select .kloudspeaker-iconview-item-sel {
    display: block;
}

.kloudspeaker-iconview-item-sel-option.selected {
    display: none;
}

.kloudspeaker-iconview-item-sel-option.unselected {
    display: block;
}

.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.selected {
    display: block;
}

.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.unselected {
    display: none;
}

.kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/folder.png) no-repeat 23px 10px;
}

.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/folder.png) no-repeat 5px 10px;
}

.kloudspeaker-itemcontext-content.loading {
    min-height: 200px;
}

.kloudspeaker-itemcontext-popover {
    min-width: 500px;
    margin-bottom: 16px;
}

#kloudspeaker-itemcontext-description {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

#kloudspeaker-folder-description {
    float: left;
    clear: both;
    width: 100%;
    padding-left: 4px;
    color: #6d6d6d;
}

#kloudspeaker-folder-description.hint,
#kloudspeaker-itemcontext-description.hint {
    font-style: italic;
    color: #dfdfdf;
}
