.files-view .file-list {
  display: table; }
  .files-view .file-list .file-list-item {
    display: table-row;
    /*float: left;
            clear: both;*/ }
    .files-view .file-list .file-list-item .col {
      display: table-cell; }
    .files-view .file-list .file-list-item .info-container {
      display: table-row; }
      .files-view .file-list .file-list-item .info-container .info-content-selector {
        float: left;
        padding: 10px; }
