.files-view .file-list {
  float: left; }
  .files-view .file-list .file-list-item {
    float: left;
    clear: both; }
    .files-view .file-list .file-list-item .file-list-item-col {
      float: left; }
    .files-view .file-list .file-list-item .info-container {
      clear: both;
      width: 100%; }
      .files-view .file-list .file-list-item .info-container .info-content-selector {
        float: left;
        padding: 10px; }
