@import 'fonts';
@import 'base';
@import 'dialogs';
@import 'login';
@import 'mainview';
@import 'configview';
@import 'dropbox';
@import 'plugins/notificator';
@import 'plugins/permissions';
@import 'plugins/fileviewereditor';

.eventlog-event-details {
    float: left;
    width: 100%;
    position: relative;
}

.eventlog-event-details button.close {
    position: absolute;
    top: 10px;
    right: 10px;
}