.files-view .file-list {
  float: left; }
  .files-view .file-list .file-list-item {
    float: left;
    clear: both; }
    .files-view .file-list .file-list-item .file-list-item-col {
      float: left; }
