@import url(libs.css);
@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
@import url(font-awesome.css);
@import url(bootstrap-lightbox.css);
@import url(bootstrap-datetimepicker.min.css);
@font-face {
    font-family: 'KloudspeakerPlainText';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('font/OpenSans.woff') format('woff');
}
@font-face {
    font-family: 'KloudspeakerPlainText';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('font/OpenSans_Semibold.woff') format('woff');
}
@font-face {
    font-family: 'KloudspeakerPlainText';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('font/OpenSans_Bold.woff') format('woff');
}
@font-face {
    font-family: 'proxima-nova';
    src: url('font/proximanova-webfont.eot');
    src: url('font/proximanova-webfont.eot?#iefix') format('embedded-opentype'), url('font/proximanova-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.btn-flat, .btn-group > .btn-flat + .dropdown-toggle {
    filter: progid: DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    border: 0;
}
.btn-group.narrow > .btn {
    padding: 4px 6px;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
#kloudspeaker, a.button, input, .kloudspeaker-popupmenu, .kloudspeaker-popup, .kloudspeaker-itemcontext-popover {
    font-size: 12px;
    font-family: 'proxima-nova', 'KloudspeakerPlainText', "Lucida Grande", "Trebuchet MS", Lucida, Verdana, sans-serif;
}
li.dropdown-item, .dropdown-submenu {
    font-family: 'proxima-nova', 'KloudspeakerPlainText', "Lucida Grande", "Trebuchet MS", Lucida, Verdana, sans-serif;
    font-size: 14px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin: 0;
}
.popover-title button.close {
    line-height: 15px;
}
.kloudspeaker-notification {
    background-color: rgba(0, 0, 0, 0.5);
}
.kloudspeaker-notification-content {
    padding: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.kloudspeaker-wait, .loading {
    background: url(images/wait.gif) no-repeat center center;
}
.kloudspeaker-wait {
    width: 100px;
    height: 100px;
}
.kloudspeaker-custom-dialog-button.secondary {
    float: left;
}
.kloudspeaker-dialog p.debug {
    font-family: monospace;
}
.kloudspeaker-popupmenu-separator:first-child, .kloudspeaker-popupmenu-separator:last-child {
    display: none;
}
.kloudspeaker-fullpage-form-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 40px;
    background: #f5f5f5;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}
.kloudspeaker-fullpage-form-bg .container.wide {
    max-width: 600px;
}
#kloudspeaker-login-main > #kloudspeaker-notification-container {
    margin-top: 30px;
}
#kloudspeaker-login-main .kloudspeaker-wait {
    width: 100%;
}
.kloudspeaker-logo {
    height: 100px;
    background-image: url(images/kloudspeaker.png);
    background-repeat: no-repeat;
    background-position: center 20px;
}
.kloudspeaker-fullpage-form {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.kloudspeaker-fullpage-form.center * {
    text-align: center;
}
.kloudspeaker-fullpage-form .primary-action {
    margin-top: 20px;
}
#kloudspeaker-login-forgot-password {
    margin-right: 10px;
}
.kloudspeaker-bubble-popover {
    width: auto;
    max-width: none;
}
#kloudspeaker-login-forgot-email {
    clear: both;
    text-align: left;
}
.kloudspeaker-bubble-popover .popover-inner, .kloudspeaker-bubble-popover .popover-content {
    float: left;
}
#kloudspeaker-mainview-viewcontent {
    float: left;
}
#kloudspeaker-mainview-main {} #kloudspeaker-notification-container.kloudspeaker-mainview-notification-container {
    position: absolute;
    top: 80px;
    right: 5px;
}
#kloudspeaker-mainview-main.in {
    background: palegreen;
}
#kloudspeaker-mainview-header {} #kloudspeaker-mainview-logo {
    width: 85px;
    height: 62px;
    background: url(images/kloudspeaker.png) no-repeat;
    margin: 10px 0 0 10px;
    padding: 0;
}
.kloudspeaker-mainview-menubar-item-icon {
    font-size: 20px;
    margin-right: 10px;
}
.kloudspeaker-mainview-menubar-item-title {
    line-height: 15px;
    vertical-align: text-bottom;
}
.kloudspeaker-mainview-menu-item {
    cursor: pointer;
}
#kloudspeaker-mainview-user {} #kloudspeaker-fileview-style-options, #kloudspeaker-mainview-search {
    margin-top: 4px;
}
#kloudspeaker-fileview-style-options button {
    background-color: #222222;
}
#kloudspeaker-fileview-style-options button.active {
    background-color: #383838;
}
#kloudspeaker-mainview-search-input {
    width: 150px;
}
#kloudspeaker-mainview-createfolder-content {
    width: 355px;
}
#kloudspeaker-mainview-createfolder-name-input {
    width: 300px;
}
#kloudspeaker-mainview-addfile {} .kloudspeaker-mainview-addfile-section {
    float: left;
    width: 300px;
    clear: both;
}
#kloudspeaker-uploader-widget {
    float: left;
    width: 100%;
}
#kloudspeaker-uploader-widget.in {
    background: palegreen;
}
.kloudspeaker-uploader-widget-title {
    display: block;
    float: left;
}
.kloudspeaker-uploader-file-selector {
    float: left;
    clear: both;
}
#kloudspeaker-mainview-addfile-retrieve {
    padding-top: 16px;
}
#kloudspeaker-mainview-addfile-retrieve-url-input {
    width: 248px;
}
.kloudspeaker-mainview-notification {
    position: fixed;
    top: 90px;
    left: 40px;
    right: 0;
    margin: auto;
    width: 50%;
}
.kloudspeaker-mainview-notification.full {
    width: 80%;
}
#kloudspeaker-mainview-content {} #kloudspeaker-mainview-progress {
    position: fixed;
    bottom: -40px;
    height: 40px;
    width: 400px;
    z-index: 95;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#kloudspeaker-mainview-progress .title {
    font-weight: bold;
}
#kloudspeaker-mainview-progress .speed {
    float: right;
}
#kloudspeaker-mainview-progress .progress, #kloudspeaker-mainview-progress .title {
    float: left;
}
#kloudspeaker-mainview-progress .progress {
    width: 100%;
}
#kloudspeaker-mainview-navlist-container {} #kloudspeaker-mainview-navlist-parent {
    margin: 8px 0 0 8px;
    z-index: 1;
}
.navlist-sep {
    margin-top: 8px;
}
#kloudspeaker-folderview {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 30px;
}
#kloudspeaker-folderview-detachholder {
    float: left;
    display: none;
}
#kloudspeaker-folderview-header {
    padding-top: 10px;
    float: left;
    clear: both;
    width: 100%;
}
#kloudspeaker-folderview-header-content {
    float: left;
    width: 100%;
}
#kloudspeaker-fileview-folder-tools {
    display: inline-block;
    margin: 4px 4px 0 0;
    vertical-align: middle;
}
#kloudspeaker-mainview-fileview-toolbar button {
    background-color: #b4b4b4;
}
#kloudspeaker-folder-tools {
    display: inline-block;
}
#kloudspeaker-folder-tools .btn-group {
    margin: 0;
}
.btn.foldertool {
    height: 30px;
    margin-right: 4px;
}
#kloudspeaker-folder-name, #kloudspeaker-folder-hierarchy {
    margin-bottom: 0px;
}
#kloudspeaker-folder-name > h2 {
    margin: 6px 0 0 0;
}
#kloudspeaker-fileview-folder-hierarchy {
    display: inline-block;
    font-size: 14px;
    padding: 5px 8px 3px 8px;
    vertical-align: middle;
    height: 22px;
    margin: 0 0 0 6px;
}
#kloudspeaker-folderview-items {
    float: left;
    overflow: hidden;
    overflow-y: auto;
    min-height: 300px;
    min-width: 90%;
    max-width: 100%;
}
#kloudspeaker-folderview-header-items {
    float: left;
    width: 100%;
    overflow: hidden;
}
.kloudspeaker-filelist {
    float: left;
    width: 100%;
    overflow-x: hidden;
}
.kloudspeaker-filelist-header {
    border-bottom: 1px solid #ececec;
    height: 22px;
}
#kloudspeaker-searchresults-desc {
    float: left;
    margin-left: 12px;
    clear: both;
}
#kloudspeaker-folder-name, .kloudspeaker-folderview-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0px 0px 0px 8px;
    border: none;
    float: left;
}
.kloudspeaker-folderview-title.root-list {
    display: block;
    float: left;
}
#kloudspeaker-fileview-folder-info {
    display: inline-block;
    vertical-align: middle;
}
#kloudspeaker-folder-name > h2, #kloudspeaker-fileview-folder-actions {
    display: inline-block;
    vertical-align: middle;
}
#kloudspeaker-fileview-folder-actions {
    margin: 6px 0 0 8px;
}
#kloudspeaker-fileview-folder-actions.root-list, .kloudspeaker-fileview-header-custom #kloudspeaker-fileview-folder-actions {
    margin: 15px 0 0 15px;
}
#kloudspeaker-fileview-folder-actions .btn {
    color: #9d9d9d;
    background: none;
    margin-right: 0;
}
#kloudspeaker-fileview-folder-actions .btn-group.active .btn-flat {
    background-color: #dddddd;
    color: #000000;
}
#kloudspeaker-fileview-folder-actions .btn-group + .btn-group {
    margin-left: 0;
}
#kloudspeaker-fileview-folder-actions .btn b.caret {
    border-top-color: #9d9d9d;
    color: #9d9d9d;
}
#kloudspeaker-fileview-folder-actions .btn-group.active .btn b.caret {
    border-top-color: #000000;
}
#kloudspeaker-fileview-folder-actions .btn:hover, #kloudspeaker-fileview-folder-actions .btn:hover b.caret {
    background-color: #f9f9f9;
    color: #000;
    border-top-color: #000000;
}
li#kloudspeaker-folder-hierarchy-item-root a.dropdown-toggle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(images/home.png) no-repeat 0 3px;
}
#kloudspeaker-folder-hierarchy-items {
    float: left;
}
.folder-hierarchy-item {
    cursor: pointer;
    color: #93a9cd;
}
.kloudspeaker-filelist-header, .kloudspeaker-filelist-item {
    float: left;
    overflow: hidden;
}
.kloudspeaker-filelist-header {
    margin-bottom: 8px;
    width: 9999px;
}
.kloudspeaker-filelist-items {
    float: left;
    width: 9999px;
}
.kloudspeaker-filelist-item {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    height: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    clear: both;
}
.kloudspeaker-filelist-item.dragged {
    opacity: 0.4;
}
.kloudspeaker-filelist-item.dragover, .kloudspeaker-folder-hierarchy-item > a.dragover, .kloudspeaker-mainview-navbar-item.dragover, .kloudspeaker-iconview-item.dragover {
    background: #ded9f7;
}
.kloudspeaker-filelist-item.hover, .kloudspeaker-filelist-item.selected {
    background-color: #f6f6f6;
}
.kloudspeaker-filelist-item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 4px;
}
.kloudspeaker-filelist-item-sel.selected {
    display: none;
}
.kloudspeaker-filelist-item-sel.unselected {
    display: block;
}
.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.selected {
    display: block;
}
.kloudspeaker-filelist-item.selected .kloudspeaker-filelist-item-sel.unselected {
    display: none;
}
.kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/empty.png) no-repeat;
}
.kloudspeaker-filelist-item.item-type-pdf .kloudspeaker-filelist-item-icon {
    background: url(images/mimetypes/pdf.png) no-repeat;
}
.kloudspeaker-filelist-col-header {
    display: inline-block;
    font-weight: bold;
    color: #333333;
}
#kloudspeaker-filelist-items, .kloudspeaker-filelist-header, .kloudspeaker-filelist-header-cols, .kloudspeaker-filelist-col-header {
    float: left;
}
.kloudspeaker-filelist-header-cols {
    display: block;
    overflow: hidden;
}
.kloudspeaker-filelist-col-header-title {
    cursor: pointer;
    float: left;
}
.kloudspeaker-filelist-col-sort-indicator {
    height: 5px;
    width: 10px;
    float: left;
    visibility: hidden;
    margin-left: 4px;
    margin-top: 6px;
}
.kloudspeaker-filelist-col-header.sort-asc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-asc.png) no-repeat;
}
.kloudspeaker-filelist-col-header.sort-desc .kloudspeaker-filelist-col-sort-indicator {
    visibility: visible;
    background: url(images/sort-desc.png) no-repeat;
}
.kloudspeaker-filelist-col-header.ui-resizable-resizing {
    background: #eeeeee;
}
.kloudspeaker-filelist-col {
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
}
.kloudspeaker-filelist-col-item-description {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.kloudspeaker-filelist-col-sel {
    width: 0px;
    visibility: hidden;
    font-size: 16px;
    padding: 2px 0 0 2px;
}
.kloudspeaker-filelist.select .kloudspeaker-filelist-col-sel, .kloudspeaker-filelist-header-cols.select .kloudspeaker-filelist-col-sel {
    width: 25px;
    visibility: visible;
}
.kloudspeaker-filelist-col-icon {
    width: 25px;
}
.kloudspeaker-filelist-col-name {
    width: 200px;
}
.kloudspeaker-filelist-col-path {
    color: #a6a6a6;
    text-overflow: ellipsis;
}
.kloudspeaker-filelist-col-file-modified {
    color: #949494;
}
.kloudspeaker-filelist-contextph, .kloudspeaker-iconview-contextph {
    float: left;
    width: 100%;
    background-color: #ffffff;
}
.kloudspeaker-filelist-quickmenu {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(images/circle_arrow_right.png) no-repeat;
    margin-bottom: 2px;
    margin-left: 8px;
    vertical-align: middle;
    visibility: hidden;
}
.item-folder .kloudspeaker-filelist-item-icon {
    background: url(images/folder.png) no-repeat 2px 2px;
}
.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-quickmenu, .kloudspeaker-filelist-quickmenu.open {
    visibility: visible;
}
.kloudspeaker-filelist-item.drophover .kloudspeaker-filelist-quickmenu, .kloudspeaker-filelist-item.ui-draggable-dragging .kloudspeaker-filelist-quickmenu {
    visibility: hidden;
}
.kloudspeaker-filelist-header-cols > .kloudspeaker-filelist-col-header {
    color: #000000;
}
.kloudspeaker-filelist-col-go-into-folder {
    visibility: hidden;
}
.kloudspeaker-filelist-item.hover .kloudspeaker-filelist-col-go-into-folder, html.touch .kloudspeaker-filelist-col-go-into-folder {
    visibility: visible;
}
.kloudspeaker-iconview-header {
    float: left;
    width: 70%;
    height: 10px;
    border-bottom: 1px solid #dedede;
    display: none;
}
.kloudspeaker-iconview {
    float: left;
}
.kloudspeaker-iconview-item {
    position: relative;
    clear: none;
    display: block;
    float: left;
    width: 200px;
    height: 185px;
    cursor: pointer;
    margin: 6px;
}
.kloudspeaker-iconview-item.hover {
    margin: 4px;
    border: 2px solid #eeeeee;
}
.kloudspeaker-iconview-item.selected {
    background-color: #fafafa;
}
.kloudspeaker-iconview-item.ui-draggable-dragging {
    background-color: transparent;
    border: none;
    margin: 6px;
}
.kloudspeaker-iconview-item.drophover {
    background: red;
}
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item {
    width: 100px;
    height: 100px;
}
.kloudspeaker-iconview-item-icon, .kloudspeaker-iconview-item-icon-thumb {
    width: 195px;
    height: 145px;
    margin-left: 13px;
    margin-top: 14px;
    overflow: hidden;
}
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon, .kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon-thumb {
    width: 75px;
    height: 70px;
    margin-top: 4px;
    margin-left: 13px;
}
.kloudspeaker-iconview-item-icon-thumb > img {
    width: 100%;
    height: auto;
}
.kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/empty.png) no-repeat 24px 7px;
    pointer-events: none;
}
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/empty.png) no-repeat 4px 7px;
}
.kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes128/pdf.png);
}
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-type-pdf .kloudspeaker-iconview-item-icon {
    background-image: url(images/mimetypes64/pdf.png);
}
.kloudspeaker-iconview-item-label {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 6px;
    overflow: hidden;
    pointer-events: none;
}
.kloudspeaker-iconview-item-sel {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}
.kloudspeaker-iconview-item-info {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}
.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info {
    display: block;
}
.kloudspeaker-iconview-item.item-folder.hover .kloudspeaker-iconview-item-info:hover {
    font-size: 120%;
}
.kloudspeaker-iconview.select .kloudspeaker-iconview-item-sel {
    display: block;
}
.kloudspeaker-iconview-item-sel-option.selected {
    display: none;
}
.kloudspeaker-iconview-item-sel-option.unselected {
    display: block;
}
.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.selected {
    display: block;
}
.kloudspeaker-iconview-item.selected .kloudspeaker-iconview-item-sel-option.unselected {
    display: none;
}
.kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes128/folder.png) no-repeat 23px 10px;
}
.kloudspeaker-iconview.iconview-small .kloudspeaker-iconview-item.item-folder .kloudspeaker-iconview-item-icon {
    background: url(images/mimetypes64/folder.png) no-repeat 5px 10px;
}
.kloudspeaker-itemcontext-content.loading {
    min-height: 200px;
}
.kloudspeaker-itemcontext-popover {
    min-width: 500px;
    margin-bottom: 16px;
}
#kloudspeaker-itemcontext-description {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
#kloudspeaker-folder-description {
    float: left;
    clear: both;
    width: 100%;
    padding-left: 4px;
    color: #6d6d6d;
}
#kloudspeaker-folder-description.hint, #kloudspeaker-itemcontext-description.hint {
    font-style: italic;
    color: #dfdfdf;
}
.editable-label > label {
    min-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4px;
}
.editable-label > label, .editable-label > input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.editable-label.hover > label {
    border: 1px solid #efefef;
}
#kloudspeaker-itemcontext-details {
    position: relative;
    min-height: 300px;
}
#kloudspeaker-itemcontext-details-content, .kloudspeaker-itemcontext-details-selector.active {
    background-color: #ffffff;
}
#kloudspeaker-itemcontext-details-selectors {
    margin-bottom: 0;
}
#kloudspeaker-itemcontext-details-content {
    height: 240px;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 4px;
    overflow-y: scroll;
}
#kloudspeaker-mainview-createfolder-title {
    float: left;
    padding-bottom: 8px;
}
#kloudspeaker-mainview-createfolder-name {
    margin: 0;
}
.kloudspeaker-uploader-add {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}
.kloudspeaker-uploader-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.kloudspeaker-inputdialog-input {
    margin-top: 8px;
}
.kloudspeaker-itemselector-tree {
    margin-top: 18px;
    width: 512px;
    height: 300px;
    overflow: auto;
    padding: 8px;
    background-color: #fcfcfc;
}
.kloudspeaker-itemselector-item {
    display: inline-block;
    float: left;
    clear: both;
}
.kloudspeaker-itemselector-item-indentation {
    float: left;
    display: inline-block;
}
.kloudspeaker-itemselector-item-indentation-step {
    float: left;
    width: 20px;
    height: 10px;
    display: inline-block;
}
.kloudspeaker-itemselector-folder-indicator {
    float: left;
    display: inline-block;
    margin-right: 2px;
    width: 10px;
    height: 20px;
    cursor: pointer;
}
.kloudspeaker-itemselector-item-name {
    display: inline-block;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 4px;
    float: left;
    white-space: nowrap;
    cursor: pointer;
}
.kloudspeaker-itemselector-item.folder .kloudspeaker-itemselector-item-name {
    background: url(images/folder.png) no-repeat 2px 3px;
}
.kloudspeaker-itemselector-item.file .kloudspeaker-itemselector-item-name {
    background: url(images/mimetypes/empty.png) no-repeat 13px 3px;
    padding-left: 32px;
}
.kloudspeaker-itemselector-item.selected > .kloudspeaker-itemselector-item-name {
    background-color: #dedaff;
}
.kloudspeaker-itemselector-item.root > .kloudspeaker-itemselector-item-name {
    font-weight: bold;
}
#kloudspeaker-itemdetails-content {
    font-family: "Arial";
}
.kloudspeaker-fileviewereditor-viewer-item {} .kloudspeaker-fileviewereditor-viewer-item-content {
    overflow: auto;
    min-width: 300px;
    min-height: 200px;
}
.fileviewereditor-editor-content {
    height: 100%;
}
.kloudspeaker-fileviewereditor-viewer-item .carousel-caption {
    display: none;
    position: absolute;
    bottom: 0;
}
.kloudspeaker-fileviewereditor-viewer-item:hover .carousel-caption {
    display: block;
}
.kloudspeaker-pluginpermissions-editor-permission-selector, .kloudspeaker-pluginpermissions-editor-user-selector {
    float: left;
    padding-bottom: 8px;
    width: 100%;
}
.kloudspeaker-pluginpermissions-editor-permission-selector > *, .kloudspeaker-pluginpermissions-editor-user-selector > * {
    float: left;
    padding-right: 8px;
}
.kloudspeaker-pluginpermissions-editor-permission-selector > select, .kloudspeaker-pluginpermissions-editor-user-selector > select {
    margin-top: 6px;
}
#kloudspeaker-pluginpermissions-editor-tab {
    margin-bottom: 8px;
}
.modal .ui-resizable-s {
    bottom: 0;
}
.modal .ui-resizable-e {
    right: 0;
}
.modal-footer .info {
    float: left;
}
#kloudspeaker-dropbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: #eeeeee;
    float: left;
    z-index: 15;
}
#kloudspeaker-dropbox-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #c8c8c8;
    top: 0;
    left: 0;
    margin-left: -30px;
    cursor: pointer;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#kloudspeaker-dropbox-handle > .kloudspeaker-dropbox-handle-icon {
    display: none;
    color: black;
    float: left;
    font-size: 28px;
    margin-left: 10px;
}
#kloudspeaker-dropbox.opened #kloudspeaker-dropbox-handle-icon-close {
    display: block;
}
#kloudspeaker-dropbox.closed #kloudspeaker-dropbox-handle-icon-open {
    display: block;
}
#kloudspeaker-dropbox-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: left;
}
#kloudspeaker-dropbox-content {
    padding: 12px;
    float: left;
    width: 200px;
}
#kloudspeaker-dropbox-list {
    margin: 12px 0 12px 0;
    width: 198px;
    min-height: 110px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background-color: #fafafa;
}
#kloudspeaker-dropbox-list.dragover {
    border-color: #9da2d2;
}
.kloudspeaker-dropbox-list-item {
    float: left;
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px dotted #e8e8e8;
    width: 100%;
    background-color: #f5f5f5;
}
.kloudspeaker-dropbox-list-item > .item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 4px 4px 0 0;
}
.kloudspeaker-dropbox-list-item.file > .item-icon {
    background: url(images/mimetypes/empty.png) no-repeat;
}
.kloudspeaker-dropbox-list-item.folder > .item-icon {
    background: url(images/folder.png) no-repeat 2px 2px;
}
.kloudspeaker-dropbox-list-item > .item-label {
    float: left;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.kloudspeaker-dropbox-list-item > .item-remove {
    display: block;
    float: left;
}
.kloudspeaker-mainview-navbar-item {
    position: relative;
}
.kloudspeaker-mainview-navbar-item .kloudspeaker-mainview-navbar-dropdown {
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
    visibility: hidden;
}
.kloudspeaker-mainview-navbar-item:hover .kloudspeaker-mainview-navbar-dropdown, .kloudspeaker-mainview-navbar-dropdown.open {
    visibility: visible;
}
.kloudspeaker-slidepanel-container {
    height: 0px;
    position: fixed;
    bottom: -8px;
    left: 10px;
    right: 10px;
    margin-top: 8px;
    overflow: hidden;
    padding: 8px 8px 0 8px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 20;
}
.kloudspeaker-slidepanel-container.relative {
    position: absolute;
}
.kloudspeaker-slidepanel-container button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.kloudspeaker-slidepanel-content-container {
    float: left;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.kloudspeaker-slidepanel-content {
    margin-bottom: 12px;
}
.kloudspeaker-configview-content {
    float: left;
}
.kloudspeaker-configlistview {
    float: left;
    width: 100%;
    min-height: 200px;
}
.kloudspeaker-configlistview-header {
    float: left;
    clear: both;
}
.kloudspeaker-configlistview-title {
    float: left;
    font-size: 18px;
    line-height: 32px;
    margin-right: 8px;
}
.kloudspeaker-configlistview-actions {
    float: left;
}
.kloudspeaker-configlistview-options {
    float: left;
}
.kloudspeaker-configlistview-options .accordion-heading {
    line-height: 12px;
}
.kloudspeaker-configlistview-options .accordion-body label, .kloudspeaker-configlistview-options .accordion-body input, .kloudspeaker-configlistview-options .accordion-body button, .kloudspeaker-configlistview-options .accordion-body select, .kloudspeaker-configlistview-options .accordion-body textarea {
    font-size: 12px;
}
.kloudspeaker-configlistview-action {
    margin-right: 4px;
}
.kloudspeaker-configlistview-table {
    cursor: default;
    float: left;
}
.kloudspeaker-configlistview-table tr.inactive {
    color: #949494;
}
.kloudspeaker-table tr.kloudspeaker-table-empty-hint td {
    font-style: italic;
    color: #949494;
}
.kloudspeaker-configlistview-table th.sortable {
    cursor: pointer;
}
.kloudspeaker-table-pager {
    float: left;
}
.pagination ul > li.page-break {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
.table.hilight {
    cursor: pointer;
}
input.kloudspeaker-tableselect-header {
    margin-left: 4px;
}
input.kloudspeaker-tableselect {
    margin-top: 0px;
    cursor: default;
}
a.kloudspeaker-tableaction {
    cursor: pointer;
}
.kloudspeaker-config-admin-userdetails-section, .kloudspeaker-notificator-notificationdetails-section, .kloudspeaker-config-admin-groupdetails-section {
    float: left;
    width: 45%;
    overflow: hidden;
    min-width: 350px;
    min-height: 200px;
    margin-left: 10px;
}
.kloudspeaker-notificator-notificationdetails-message-title, .kloudspeaker-notificator-notificationdetails-message-title > *, .kloudspeaker-notificator-notificationdetails-messagetitle, .kloudspeaker-notificator-notificationdetails-message {
    float: left;
}
.kloudspeaker-notificator-notificationdetails-messagetitle, .kloudspeaker-notificator-notificationdetails-message {
    width: 95%;
    font-family: monospace;
}
#kloudspeaker-notificator-filtereditor-new-type, #kloudspeaker-notificator-filtereditor-new-value, #kloudspeaker-notificator-filtereditor-new-add {
    float: left;
    margin-right: 8px;
}
@media (min-width: 980px) {
    body {
        padding-top: 90px;
    }
    #kloudspeaker-mainview-menu {
        margin: 15px 0 0 8px;
    }
    #kloudspeaker-mainview-viewtools {
        margin: 15px 0 0 0;
    }
    #kloudspeaker-mainview-user {
        margin: 15px 0 0 0;
    }
    #kloudspeaker-folderview.detached #kloudspeaker-folderview-header {
        position: fixed;
        background-color: #ffffff;
        margin-top: -20px;
        padding-top: 20px;
        z-index: 10;
    }
    #kloudspeaker-folderview.detached .kloudspeaker-iconview-header {
        display: block;
    }
    #kloudspeaker-folderview.detached #kloudspeaker-folderview-detachholder {
        width: 100%;
        display: block;
    }
    #kloudspeaker-folderview.detached .no-detached {
        display: none;
    }
    /*#kloudspeaker-folderview-header {
		position: fixed;
		top: 60px;
		background-color: #ffffff;
		padding-top: 30px;
	}
	
	#kloudspeaker-folderview-items {
		padding-top: 125px;
	}*/
}
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar .btn-navbar {
        margin: 25px 0 0 0;
    }
}
#kloudspeaker-mainview-navlist-parent {
    width: 16.92817679558011%;
}
/* Large desktop */

@media (min-width: 1200px) {
    #kloudspeaker-mainview-navlist-parent {
        width: 18.404255319148934%;
    }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    #kloudspeaker-mainview-navlist-parent {
        position: relative;
        width: 70%;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
    #kloudspeaker-mainview-navlist-parent {
        position: relative;
        width: 87%;
        margin-right: 0;
    }
    #kloudspeaker-mainview-viewcontent {
        float: left;
        padding: 8px 16px 0 16px;
        min-height: 600px;
    }
    #kloudspeaker-folderview-header {
        padding-top: 0;
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {}
