.files-view {
    .file-list {
        display: table;
        .file-list-item {
            display: table-row;
            /*float: left;
            clear: both;*/
            .col {
                display: table-cell;
            }
            .info-container {
                display: table-row;
                .info-content-selector {
                    float: left;
                    padding: 10px;
                }
            }
        }
    }
}
