{% extends "base.html" %}

{% block title %}Install{% endblock %}

{% block content %}
	<h1>Installation</h1>
	{% if error %}
		ERROR {{ error }}
	{% endif %}

	{% if result.system.configuration %}
		Version: {{ system.version }}/{{ system.revision }}<br/>

		{% if not result.system.database_configuration %}
			{{ include('install/instructions_configuration.html') }}
		{% else %}
			{% if not result.system.database_connection %}
				<div class="">{{result.system.database_connection_error}}</div>

				{{ include('install/instructions_db_connection.html') }}
			{% else %}
				{% if result.available is empty %}
					Everything up-to-date
				{% else %}
					Installation:
					{{ system.config.db.dsn }}
					{{ system.config.db.user }}
					{{ system.config.db.password }}

					<hr/>

					{% for l in result.available %}
						{{ l.id }}
						{% if l.id == "system:install" %}
						{{ l.to.name }}
						{% endif %}
						<br/>
					{% endfor %}

					<form method="post">
						<input class="btn" name="action" value="Install" type="submit"></input>
					</form>
				{% endif %}
			{% endif %}
		{% endif %}
	{% else %}
		{% if result.system.config_writable %}
			{{ include('install/config.html') }}
		{% else %}
			{{ include('install/instructions_configuration.html') }}
		{% endif %}
	{% endif %}
{% endblock %}