<div class="item-details-content" data-bind="class: { loading : model.itemDetails.loading() }, with: model.itemDetails">
    <h2 data-bind="text: item().name"></h2>

    <!-- ko if: showDescription -->
    <!-- ko ifnot: canEditDescription -->
    <div class="description-value" data-bind="text: metadata().description">
    </div>
    <!-- /ko -->
    <!-- ko if: canEditDescription -->
    <div class="description-editor" data-bind="inplace-editor: {value: metadata().description, action: setDescription}"></div>
    <!-- /ko -->
	<!-- /ko -->

    <ul class="nav nav-tabs item-details-tabs" role="tablist" data-bind="foreach: { data: details(), as: 'tab' }">
        <li role="presentation" class="item-details-tab"><a data-bind="i18n: titleKey, click: $parent.setActiveDetails" href="#"></a></li>
    </ul>

    <!-- ko if: activeDetails() != null -->
    <div class="item-details-active-tab" data-bind="compose: { model: activeDetails().module, activationData: $data }">
    </div>
    <!-- /ko -->
</div>
