<div class="filelist-table filelist-widget">
    <div class="filelist-header" data-bind="foreach: cols">
        <div data-bind="attr: { class: 'filelist-header-col col col-'+id }, text: title">
        </div>
    </div>

    <div class="filelist-items" data-bind="foreach: { data: model.items, as: 'item' }">
        <div class="filelist-item" data-bind="attr: { id: 'filelist-item-'+item.id }">
            <!-- ko foreach: { data: $parent.cols, as: 'col' } -->
            <div data-bind="attr: { class: 'filelist-item-value col col-'+col.id }">
                <div class="filelist-item-content" data-bind="html: $root.getCell(col, item)"></div>
                <!-- ko if: col.id=='name' -->
                <div class="quickactions-container"></div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div class="iteminfo-container"></div>
        </div>
    </div>
</div>
