<script id="kloudspeaker-tmpl-configview" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-configview">
		<h2 id="kloudspeaker-configview-header"></h2>
		
		<div id="kloudspeaker-configview-content">
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-configlistview" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-configlistview">
		<div class="kloudspeaker-configlistview-header">
			{{if title}}
			<div class="kloudspeaker-configlistview-title">${title}</div>
			{{/if}}
			{{if actions}}
			<div class="kloudspeaker-configlistview-actions">
				{{tmpl(actions) "#kloudspeaker-tmpl-configlistview-action"}}
			</div>
			{{/if}}
			<div class="kloudspeaker-configlistview-options"></div>
		</div>
		<table class="kloudspeaker-configlistview-table"></table>
	</div>
</script>

<script id="kloudspeaker-tmpl-configlistview-action" type="text/x-jquery-tmpl">
	<a id="kloudspeaker-configlistview-action-${id}" class="kloudspeaker-configlistview-action btn ${cls}">{{if content}}{{html content}}{{/if}}{{if title}}${title}{{/if}}</a>
</script>

<script id="kloudspeaker-tmpl-config-useraccountview" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-useraccountview">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configUserAccountUsernameTitle"></label>
				<div class="controls">
					<span class="uneditable-input">${user.name}</span>
				</div>
			</div>
			
			{{if features['change_password'] && user.auth == 'pw' && user.hasPermission("change_password")}}
			<div class="control-group">
				<label class="control-label localized" text-key="configUserAccountPasswordTitle"></label>
				<div class="controls">
					<a id="user-account-change-password-btn" class="btn localized" href="javascript: void(0);" text-key="configUserAccountPasswordAction"></a>
				</div>
			</div>
			{{/if}}
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-systemview" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-systemview">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configSystemVersionTitle"></label>
				<div class="controls">
					<span class="uneditable-input">${session.version} (rev. ${session.revision})</span>
					{{if versionCheck}}
					<a id="system-check-new-version-btn" class="btn localized" href="javascript: void(0);" text-key="configSystemCheckNewVersion"></a>
					<div id="version-check-result" class="alert" style="display:none; margin-top: 20px;"></div>
					{{/if}}
				</div>
			</div>
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-user-searchoptions" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-admin-user-searchoptions accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle localized" data-toggle="collapse" href="#userSearchOptions" text-key="configAdminUserSearchOptionsTitle"></a>
			</div>
			<div id="userSearchOptions" class="accordion-body collapse">
				<div class="accordion-inner">
		      
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label localized" for="kloudspeaker-admin-user-searchoptions-name" text-key="configAdminUserSearchOptionsNameTitle"></label>
							<div class="controls">
								<input id="kloudspeaker-admin-user-searchoptions-name" type="text"></input>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label localized" for="kloudspeaker-admin-user-searchoptions-email" text-key="configAdminUserSearchOptionsEmailTitle"></label>
							<div class="controls">
								<input id="kloudspeaker-admin-user-searchoptions-email" type="text"></input>
							</div>
						</div>
					</form>
		
				</div>
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-userdialog" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-userdialog-content">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogUsernameTitle"></label>
				<div class="controls">
					<input type="text" id="usernameField">
				</div>
			</div>

			{{if showLanguages}}
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogLanguageTitle"></label>
				<div class="controls">
					<select id="languageField">
					</select>
				</div>
			</div>
			{{/if}}

			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogEmailTitle"></label>
				<div class="controls">
					<input type="text" id="emailField">
				</div>
			</div>
			
			{{if !user}}
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogPasswordTitle"></label>
				<div class="controls">
					<input type="text" id="passwordField">
					<a id="generatePasswordBtn" class="btn localized" text-key="configAdminUserDialogGeneratePassword" href="javascript: void(0)"></a>
				</div>
			</div>
			{{/if}}
			
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogTypeTitle"></label>
				<div class="controls">
					<select id="typeField">
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogAuthenticationTitle"></label>
				<div class="controls">
					<select id="authenticationField">
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogExpirationTitle"></label>
				<div class="controls">
					<div id="expirationField" class="input-append">
					    <input id="expirationFieldInput" type="text"></input>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
					    </span>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-userchangepassworddialog" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-userchangepassworddialog-content">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminUserDialogPasswordTitle"></label>
				<div class="controls">
					<input type="text" id="passwordField">
					<a id="generatePasswordBtn" class="btn localized" text-key="configAdminUserDialogGeneratePassword" href="javascript: void(0)"></a>
				</div>
			</div>
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-userdetails" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-userdetails-content">
		<legend>${user.name}</legend>
		
		<div class="kloudspeaker-config-admin-userdetails-section">
			<div class="kloudspeaker-config-admin-userdetails-folders">
			</div>
		</div>

		<div class="kloudspeaker-config-admin-userdetails-section">
			<div class="kloudspeaker-config-admin-userdetails-groups">
			</div>
		</div>
		
		<div class="kloudspeaker-config-admin-userdetails-section">
			<div class="kloudspeaker-config-admin-userdetails-permissions">
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-groupdetails" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-groupdetails-content">
		<legend>${group.name}</legend>
		
		<div class="kloudspeaker-config-admin-groupdetails-section">
			<div class="kloudspeaker-config-admin-groupdetails-users">
			</div>
		</div>

		<div class="kloudspeaker-config-admin-groupdetails-section">
			<div class="kloudspeaker-config-admin-groupdetails-folders">
			</div>
		</div>
		
		<div class="kloudspeaker-config-admin-groupdetails-section">
			<div class="kloudspeaker-config-admin-groupdetails-permissions">
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-folderdialog" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-folderdialog-content">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminFolderDialogNameTitle"></label>
				<div class="controls">
					<input type="text" id="nameField">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminFolderDialogPathTitle"></label>
				<div class="controls">
					<input type="text" id="pathField">
				</div>
			</div>
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-folderdetails" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-folderdetails-content">
		<legend>${folder.name}</legend>
		
		<div class="kloudspeaker-config-admin-folderdetails-section">
			<div class="kloudspeaker-config-admin-folderdetails-usersandgroups">
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-config-admin-groupdialog" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-config-admin-groupdialog-content">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminGroupDialogNameTitle"></label>
				<div class="controls">
					<input type="text" id="nameField">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label localized" text-key="configAdminGroupsDescriptionTitle"></label>
				<div class="controls">
					<input type="text" id="descriptionField">
				</div>
			</div>
		</form>
	</div>
</script>
