<script id="kloudspeaker-tmpl-dialog-info" type="text/x-jquery-tmpl">
	<p>${message}</p>
</script>

<script id="kloudspeaker-tmpl-dialog-error" type="text/x-jquery-tmpl">
	<p>{{html $item.data.message}}</p>
</script>

<script id="kloudspeaker-tmpl-dialog-confirmation" type="text/x-jquery-tmpl">
	<p>${message}</p>
	{{if options}}
		<p>
		<div class="control-group">
			<div class="controls">
				{{each options}}
					<label class="checkbox inline">
						<input type="checkbox" id="kloudspeaker-confirmation-option-${key}" class="kloudspeaker-confirmation-option"><span>${title}</span>
					</label>
				{{/each}}
			</div>
		</div>
		</p>
	{{/if}}
</script>

<script id="kloudspeaker-tmpl-notification" type="text/x-jquery-tmpl"> 
	<div class="kloudspeaker-notification">
		<div class="kloudspeaker-notification-content">${message}</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-dialog-select" type="text/x-jquery-tmpl">
	<p>${message}</p>
	<table class="kloudspeaker-selectdialog-table"></table>
</script>

<script id="kloudspeaker-tmpl-wait" type="text/x-jquery-tmpl"> 
	<div class="kloudspeaker-wait"></div>
</script>

<script id="kloudspeaker-tmpl-slidepanel" type="text/x-jquery-tmpl"> 
	<div class="kloudspeaker-slidepanel-container">
		<button type="button" class="close">×</button>
		<div class="kloudspeaker-slidepanel-content-container">
			<div class="kloudspeaker-slidepanel-content"></div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-dialog-custom" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-dialog modal">
		<div class="modal-header">
			<h3>${title}</h3>
		</div>

		<div class="modal-body">{{html $item.getContent()}}</div>
		<div class="modal-footer">
			<div class="info"></div>
			<div class="buttons">
			{{each buttons}}
				<a id="kloudspeaker-custom-dialog-button-${id}" class="kloudspeaker-custom-dialog-button btn ${cls}">${$item.getButtonTitle($value)}</a>
			{{/each}}
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-dialog-button" type="text/x-jquery-tmpl">
	<a id="kloudspeaker-custom-dialog-button-${id}" class="kloudspeaker-custom-dialog-button btn ${cls}">${$item.getButtonTitle($item.data)}</a>
</script>

<script id="kloudspeaker-tmpl-dialog-error-debug" type="text/x-jquery-tmpl">
	<p>{{html $item.data.message}}</p>
	<p class="well debug">{{html $item.data.debug}}</p>
</script>

<script id="kloudspeaker-tmpl-dialog-input" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-inputdialog">
		<div class="kloudspeaker-inputdialog-message">{{html $item.data.message}}</div>
		<input class="kloudspeaker-inputdialog-input">
	</div>
</script>

<script id="kloudspeaker-tmpl-dialog-itemselector" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-itemselector">
		<div class="kloudspeaker-itemselector-message">{{html $item.data.message}}</div>
		<div class="kloudspeaker-itemselector-tree well well-large">
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-dialog-itemselector-item" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-itemselector-item ${$item.cls} {{if $item.data.is_file}}file{{else}}folder{{/if}}">
		<div class="kloudspeaker-itemselector-item-indentation">
			{{each $item.levels}}
			<div class="kloudspeaker-itemselector-item-indentation-step"></div>
			{{/each}}
		</div>
		{{if !$item.data.is_file}}
		<div class="kloudspeaker-itemselector-folder-indicator"><i class="icon-caret-right"></i></div>
		{{/if}}
		<div class="kloudspeaker-itemselector-item-name">${name}</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-popupmenu" type="text/x-jquery-tmpl">
	<ul class="dropdown-menu">
	{{tmpl(items) "#kloudspeaker-tmpl-popupmenu-item"}}
	</ul>
</script>

<script id="kloudspeaker-tmpl-popupmenu-item" type="text/x-jquery-tmpl">
	{{if $item.data.type == 'separator' || $item.data.title == '-'}}
	<li class="dropdown-item divider"/>
	{{else $item.data.type == 'submenu'}}
		<li class="dropdown-submenu">
			<a tabindex="-1" href="#">${$item.data.title || $item.data.primary.title}</a>
			{{tmpl($item.data) "#kloudspeaker-tmpl-popupmenu"}}
		</li>
	{{else}}
	<li class="dropdown-item"><a href="#">{{if $item.data.icon}}<i class="icon-${$item.data.icon}"></i>&nbsp;&nbsp;{{/if}}${$item.data.title}</a></li>
	{{/if}}
</script>

<script id="kloudspeaker-tmpl-tableview" type="text/x-jquery-tmpl">
	<div id="kloudspeaker-tableview-content" class="loading">
		<div id="kloudspeaker-tableview-header">
		</div>

		<table id="kloudspeaker-tableview-list" class="table">
		</table>
	</div>
</script>

<script id="kloudspeaker-tmpl-fullpage-error" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-fullpage-form-bg">
		<div id="kloudspeaker-registration-main" class="container kloudspeaker-fullpage-form center wide">
			<h2><i class="icon-exclamation-sign"></i>&nbsp;&nbsp;{{html title}}</h2>
			<p>{{html message}}</p>
		</div>
	</div>
</script>
