<div id="kloudspeaker-login-main" class="kloudspeaker-fullpage-form-bg">
	<div id="kloudspeaker-login-data" class="container kloudspeaker-fullpage-form center">
		<div class="kloudspeaker-logo"></div>

		<div class="control-group">
			<div class="controls">
				<input id="kloudspeaker-login-name" type="text" class="hintbox" hint-key="loginDialogUsername"></input>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input id="kloudspeaker-login-password" type="password" class="hintbox" hint-key="loginDialogPassword"></input>
			</div>
		</div>
			
		<div class="control-group">
			<div class="controls">
				<label id="kloudspeaker-login-remember" class="checkbox inline">
					<input id="kloudspeaker-login-remember-cb" type="checkbox" /><span class="localized" text-key="loginDialogRememberMe"></span>
				</label>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<a id="kloudspeaker-login-button" class="localized btn btn-large btn-primary primary-action" text-key="loginDialogLoginButton"></a>
			</div>
		</div>
		
		<div id="kloudspeaker-login-links">
			<a href="javascript:void(0)" id="kloudspeaker-login-forgot-password" class="kloudspeaker-login-link link localized bubble-trigger" text-key="loginDialogResetPassword" style="display:none"></a>
			<div id="kloudspeaker-login-forgot-password-bubble" style="display:none">
				<div id="kloudspeaker-login-forgot-password-content" class="bubble-content">
					<input id="kloudspeaker-login-forgot-email" type="text" class="hintbox" hint-key="resetPasswordPopupMessage"></input>
					<a id="kloudspeaker-login-forgot-button" class="localized btn btn-small" text-key="resetPasswordPopupButton"></a>
					<a id="kloudspeaker-login-forgot-button-hint" class="localized btn btn-small" text-key="sendPasswordHintPopupButton" style="display: none"></a>
				</div>
			</div>
			<a href="javascript:void(0)" id="kloudspeaker-login-register" class="kloudspeaker-login-link link localized" text-key="loginDialogRegister" style="display:none"></a>
		</div>
	</div>
	
	<div id="kloudspeaker-notification-container" class="kloudspeaker-loginview-notification-container"></div>
</div>