<nav id="kloudspeaker-mainview-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        	<div id="kloudspeaker-mainview-logo" class="navbar-brand"></div>
        </div>
        <!--button type="button" id="kloudspeaker-mainview-navcollapse" class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="fa fa-navicon"></span>
        </button-->
        <ul id="kloudspeaker-mainview-menu" class="kloudspeaker-mainview-menubar navbar-left"></ul>
        <ul id="kloudspeaker-mainview-user" class="navbar-right"></ul>
        <div id="kloudspeaker-mainview-viewtools" class="navbar-form form-inline navbar-right"></div>
    </div>
    </div>
    <div id="kloudspeaker-mainview-main" class="container-fluid">
        <div id="kloudspeaker-mainview-content" class="row">
            <div id="kloudspeaker-mainview-navlist-container" class="col-md-3">
                <div id="kloudspeaker-mainview-navlist-parent" class="well affix"></div>
            </div>
            <div id="kloudspeaker-mainview-viewcontent" class="col-md-9">
            </div>
        </div>
    </div>
    <script id="kloudspeaker-tmpl-main-notification" type="text/x-jquery-tmpl">
        <div class="kloudspeaker-mainview-notification alert {{if type}}alert-${type}{{/if}} {{if cls}}${cls}{{/if}}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            ${message}
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-username" type="text/x-jquery-tmpl">
        {{if user}}
        <li id="kloudspeaker-username-dropdown" class="dropdown">
            <a href="#" class="dropdown-toggle">${user.name}&nbsp;<b class="caret"></b></a>
        </li>
        {{/if}}
    </script>
    <script id="kloudspeaker-tmpl-main-changepassword" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-mainview-changepassword">
            <div id="kloudspeaker-mainview-changepassword-old" class="control-group">
                <input class="hintbox kloudspeaker-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordOld"></input>
                <span class="help-inline"></span>
            </div>
            <div id="kloudspeaker-mainview-changepassword-new1" class="control-group">
                <input class="hintbox kloudspeaker-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordNew"></input>
                <span class="help-inline"></span>
            </div>
            <div id="kloudspeaker-mainview-changepassword-new2" class="control-group">
                <input class="hintbox kloudspeaker-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordVerify"></input>
                <span class="help-inline"></span>
            </div>
            <div id="kloudspeaker-mainview-changepassword-hint" class="control-group">
                <input class="hintbox kloudspeaker-mainview-changepassword-input" type="text" hint-key="mainviewChangePasswordHint" maxlength="128"></input>
                <span class="help-inline"></span>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-menubar" type="text/x-jquery-tmpl">
        <li class="kloudspeaker-mainview-menubar-item" title="${title}"><a href="javascript: void(0);">{{if icon}}<span class="kloudspeaker-mainview-menubar-item-icon"><i class="${icon}"></i></span>{{/if}}<span class="kloudspeaker-mainview-menubar-item-title">${title}</span></a></li>
    </script>
    <script id="kloudspeaker-tmpl-main-navbar" type="text/x-jquery-tmpl">
        <ul class="kloudspeaker-mainview-navbar nav nav-list">
            <li class="nav-header localized">${title}</li>
            {{tmpl(items) "#kloudspeaker-tmpl-main-navbar-item"}}
        </ul>
    </script>
    <script id="kloudspeaker-tmpl-main-navbar-item" type="text/x-jquery-tmpl">
        <li class="kloudspeaker-mainview-navbar-item"><a href="javascript: void(0);">${title}</a></li>
    </script>
    <script id="kloudspeaker-tmpl-fileview" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-folderview">
            <div id="kloudspeaker-folderview-detachholder"></div>
            <div id="kloudspeaker-folderview-header">
                <div id="kloudspeaker-folderview-header-content"></div>
                <div id="kloudspeaker-folderview-header-items"></div>
            </div>
            <div id="kloudspeaker-folderview-items">
            </div>
            <div id="kloudspeaker-mainview-progress" style="display: none">
                <div class="title"></div>
                <button class="close">&times;</button>
                <div class="speed"></div>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-fileview-tools" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-fileview-style-options" class="kloudspeaker-radio">
            <button id="kloudspeaker-fileview-style-list" class="btn btn-inverse btn-flat fileview-style-option"><i class="fa fa-list-ul"></i></a>
                <button id="kloudspeaker-fileview-style-small-icons" class="btn btn-inverse btn-flat fileview-style-option"><i class="fa fa-th"></i></a>
                    <button id="kloudspeaker-fileview-style-large-icons" class="btn btn-inverse btn-flat fileview-style-option"><i class="fa fa-th-large"></i></a>
        </div>
        <div id="kloudspeaker-fileview-search" class="input-append">
            <input id="kloudspeaker-fileview-search-input" class="hintbox" type="text" hint-key="mainViewSearch">
            <button class="btn" type="button"><i class="fa fa-search"></i></button>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-fileview-header" type="text/x-jquery-tmpl">
        <div>
            <div id="kloudspeaker-fileview-folder-tools"></div>
            <div id="kloudspeaker-fileview-folder-actions"></div>
        </div>
        <div id="kloudspeaker-folder-name" class="kloudspeaker-folderview-title page-header no-detached">
            <h2>${folder.name}</h2>
            <div id="kloudspeaker-fileview-folder-info"></div>
        </div>
        <div id="kloudspeaker-folder-description" class="no-detached"></div>
    </script>
    <script id="kloudspeaker-tmpl-fileview-header-custom" type="text/x-jquery-tmpl">
        <div class="kloudspeaker-fileview-header-custom">
            <div id="kloudspeaker-folder-name" class="kloudspeaker-folderview-title page-header">
                <h2>${name || folder.name}</h2></div>
            <div>
                <div id="kloudspeaker-fileview-folder-tools"></div>
                <div id="kloudspeaker-fileview-folder-actions"></div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-fileview-folder-hierarchy" type="text/x-jquery-tmpl">
        <ul id="kloudspeaker-fileview-folder-hierarchy" class="breadcrumb">
            <li id="kloudspeaker-folder-hierarchy-item-root">
                <div class="btn-group">
                    <a class="dropdown-toggle" href="javascript: void(0);"></a>
                </div>
                <span class="divider">/</span>
            </li>
            {{tmpl(items) "#kloudspeaker-tmpl-fileview-folder-hierarchy-item"}}
        </ul>
    </script>
    <script id="kloudspeaker-tmpl-fileview-folder-hierarchy-item" type="text/x-jquery-tmpl">
        <li id="kloudspeaker-folder-hierarchy-item-${id}" class="kloudspeaker-folder-hierarchy-item"><a href="javascript: void(0);">${name}</a> <span class="divider">/</span></li>
    </script>
    <script id="kloudspeaker-tmpl-fileview-foldertools-action" type="text/x-jquery-tmpl">
        <div class="btn-group {{if ($item.data.style)}}${style}{{/if}}">
            {{if ($item.data.dropdown && $item.data.action)}}
            <button class="btn btn-flat">
                {{if icon}}
                <i class="${icon}"></i> {{else}} ${$item.title()} {{/if}}
            </button>
            <button class="btn btn-flat dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </button>
            {{/if}} {{if ($item.data.dropdown && !$item.data.action)}}
            <a class="btn btn-flat dropdown-toggle" href="#">
			{{if icon}}
			<i class="${icon}"></i>
			{{else}}
			${$item.title()}
			{{/if}}
			&nbsp;<b class="caret"></b>
		</a> {{/if}} {{if (!$item.data.dropdown)}}
            <button class="btn btn-flat foldertool">
                {{if icon}}
                <i class="${icon}"></i> {{else}} ${$item.title()} {{/if}}
            </button>
            {{/if}}
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-createfolder-bubble" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-mainview-createfolder-content">
            <span id="kloudspeaker-mainview-createfolder-title" class="localized" text-key="mainviewCreateFolderTitle"></span>
            <div id="kloudspeaker-mainview-createfolder-name" class="input-append pull-right">
                <input id="kloudspeaker-mainview-createfolder-name-input" class="hintbox" type="text" hint-key="mainviewCreateFolderName">
                <button id="kloudspeaker-mainview-createfolder-button" class="btn" type="button"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-addfile-bubble" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-mainview-addfile">
            <div id="kloudspeaker-mainview-addfile-upload" class="kloudspeaker-mainview-addfile-section">
                <div id="kloudspeaker-uploader-widget">
                    <span class="kloudspeaker-uploader-widget-title localized" text-key="uploaderWidgetTitle"></span>
                </div>
            </div>
            <div id="kloudspeaker-mainview-addfile-retrieve" class="kloudspeaker-mainview-addfile-section">
                <span id="kloudspeaker-mainview-addfile-retrieve-title" class="localized" text-key="mainviewRetrieveFileTitle"></span>
                <div class="input-append pull-right">
                    <input id="kloudspeaker-mainview-addfile-retrieve-url-input" class="hintbox" type="text" hint-key="mainviewRetrieveUrlTitle">
                    <button id="kloudspeaker-mainview-addfile-retrieve-button" class="btn" type="button"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-rootfolders" type="text/x-jquery-tmpl">
        <div class="kloudspeaker-folderview-title root-list">
            <h2 class="localized" text-key="mainViewRootsTitle"></h2></div>
        <div id="kloudspeaker-fileview-folder-actions" class="root-list"></div>
    </script>
    <script id="kloudspeaker-tmpl-main-searchresults" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-folder-name" class="kloudspeaker-folderview-title page-header">
            <h2><span id="kloudspeaker-searchresults-title-text"></span></h2>
            <div id="kloudspeaker-fileview-folder-actions"></div>
        </div>
        <div id="kloudspeaker-searchresults-desc"><span id="kloudspeaker-searchresults-desc-text"></span></div>
    </script>
    <script id="kloudspeaker-tmpl-filelist-header" type="text/x-jquery-tmpl">
        <div id="${listId}-header" class="kloudspeaker-filelist-header">
            <div id="${listId}-header-cols" class="kloudspeaker-filelist-header-cols">
                <div class="kloudspeaker-filelist-col kloudspeaker-filelist-col-sel kloudspeaker-filelist-col-header"></div>
                <div class="kloudspeaker-filelist-col kloudspeaker-filelist-col-icon kloudspeaker-filelist-col-header"></div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-filelist" type="text/x-jquery-tmpl">
        <div id="${listId}" class="kloudspeaker-filelist">
            <div id="${listId}-items" class="kloudspeaker-filelist-items"></div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-filelist-headercol" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-filelist-col-header-${id}" class="kloudspeaker-filelist-col kloudspeaker-filelist-col-${id} kloudspeaker-filelist-col-header">
            <div class="kloudspeaker-filelist-col-header-title">${$item.title($data)}</div>
            <div class="kloudspeaker-filelist-col-sort-indicator"></div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-filelist-item" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-filelist-item-${id}" class="kloudspeaker-filelist-item ${$item.typeClass($data)}" unselectable="on">
            <div class="kloudspeaker-filelist-col kloudspeaker-filelist-col-sel">
                <i class="kloudspeaker-filelist-item-sel unselected fa fa-square-o"></i>
                <i class="kloudspeaker-filelist-item-sel selected fa fa-check-square-o"></i>
            </div>
            <div class="kloudspeaker-filelist-col kloudspeaker-filelist-col-icon">
                <div class="kloudspeaker-filelist-item-icon"></div>
            </div>
            {{each(c,col) $item.cols}}
            <div class="kloudspeaker-filelist-col kloudspeaker-filelist-col-${col.id}" style="${$item.itemColStyle($data, col)}" title="${$item.itemColTitle($data, col)}">{{html $item.col($data, col)}}</div>
            {{/each}}
        </div>
    </script>
    <script id="kloudspeaker-tmpl-iconview" type="text/x-jquery-tmpl">
        <div id="${viewId}" class="kloudspeaker-iconview">
        </div>
    </script>
    <script id="kloudspeaker-tmpl-iconview-item" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-iconview-item-${id}" title="${name}" class="kloudspeaker-iconview-item ${$item.typeClass($data)}">
            {{if $item.showThumb($data)}}
            <div class="kloudspeaker-iconview-item-fa fa-thumb"><img src="${$item.thumbUrl($data)}"></img>
            </div>
            {{else}}
            <div class="kloudspeaker-iconview-item-icon"></div>
            {{/if}}
            <div class="kloudspeaker-iconview-item-label">${name}</div>
            <div class="kloudspeaker-iconview-item-info"><i class="fa fa-info-sign"></i></div>
            <div class="kloudspeaker-iconview-item-sel">
                <i class="kloudspeaker-iconview-item-sel-option unselected fa fa-square-o"></i>
                <i class="kloudspeaker-iconview-item-sel-option selected fa fa-check-square-o"></i>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-itemcontext" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-itemcontext-${id}" class="kloudspeaker-itemcontext">
            <div class="kloudspeaker-itemcontext-content loading"></div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-itemcontext-content" type="text/x-jquery-tmpl">
        {{if showDescription}}
        <div id="kloudspeaker-itemcontext-description">
            ${description}
        </div>
        {{/if}}
        <div id="kloudspeaker-itemcontext-actions" class="btn-toolbar">
            {{if primaryActions}} {{each primaryActions}} {{if type == 'submenu'}}
            <div class="btn-group">
                <li class="kloudspeaker-itemcontext-primary-action-button">
                    <button class="btn btn-primary dropdown-toggle">${$item.title($value)}&nbsp;<b class="caret"></b></button>
                </li>
            </div>
            {{else}}
            <div class="btn-group">
                <button class="kloudspeaker-itemcontext-primary-action-button btn btn-primary">${$item.title($value)}</button>
            </div>
            {{/if}} {{/each}} {{/if}}
            <div class="btn-group">
                <li id="kloudspeaker-itemcontext-secondary-actions">
                    <button class="btn dropdown-toggle localized" text-key="secondaryActions">&nbsp;<b class="caret"></b></button>
                </li>
            </div>
        </div>
        <div id="kloudspeaker-itemcontext-details">
            <ul id="kloudspeaker-itemcontext-details-selectors" class="nav nav-tabs">
            </ul>
            <div id="kloudspeaker-itemcontext-details-content">
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-itemcontext-details-section" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-itemcontext-details-${id}" class="kloudspeaker-itemcontext-details">
        </div>
    </script>
    <script id="kloudspeaker-tmpl-main-itemcontext-details-selector" type="text/x-jquery-tmpl">
        <li id="kloudspeaker-itemcontext-details-selector-${id}" class="kloudspeaker-itemcontext-details-selector"><a href="javascript: void(0);">${title}</a></li>
    </script>
    <script id="kloudspeaker-tmpl-fileviewereditor-popup" type="text/x-jquery-tmpl">
        <div class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-header'>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            <div class='lightbox-content'>
                <div class="carousel slide">
                    <div class="carousel-inner">
                        {{each items}}
                        <div id="kloudspeaker-fileviewereditor-viewer-item-${$value.item.id}" class="kloudspeaker-fileviewereditor-viewer-item item {{if $value.init}}active{{/if}}">
                            <div class="kloudspeaker-fileviewereditor-viewer-item-content loading">
                            </div>
                            <div class="carousel-caption">
                                <h4>${$value.item.name}</h4>
                                <div class="kloudspeaker-fileviewereditor-viewer-tools">
                                    {{if $value.full}}
                                    <a href="javascript: void(0);" class="kloudspeaker-fileviewereditor-viewer-item-viewinnewwindow localized" text-key="fileViewerEditorViewInNewWindowTitle"></a>
                                    {{/if}} {{if $value.edit}}
                                    <a href="javascript: void(0);" class="kloudspeaker-fileviewereditor-viewer-item-edit localized" text-key="fileViewerEditorViewEditTitle"></a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{if ($item.data.items.length > 1)}}
                    <a class="carousel-control left" href="javascript: void(0);">&lsaquo;</a>
                    <a class="carousel-control right" href="javascript: void(0);">&rsaquo;</a> {{/if}}
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-permission-editor" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-pluginpermissions-editor-content">
            <div class="kloudspeaker-pluginpermissions-editor-permission-selector">
                <h4 class="localized" text-key="pluginPermissionsEditDialogPermissionName"></h4>
                <select id="kloudspeaker-pluginpermissions-editor-permission-name"></select>
            </div>
            <ul id="kloudspeaker-pluginpermissions-editor-tab" class="nav nav-tabs">
                <li id="kloudspeaker-pluginpermissions-editor-item-permissions">
                    <a href="javascript: void(0)" class="localized" text-key="pluginPermissionsEditDialogItemPermissions"></a>
                </li>
                <li id="kloudspeaker-pluginpermissions-editor-user-permissions">
                    <a href="javascript: void(0)" class="localized" text-key="pluginPermissionsEditDialogUserPermissions"></a>
                </li>
            </ul>
            <div id="kloudspeaker-pluginpermissions-editor-subcontent-container">
                <div id="kloudspeaker-pluginpermissions-editor-subcontent-by-permission" class="kloudspeaker-pluginpermissions-editor-subcontent">
                    <table id="kloudspeaker-pluginpermissions-editor-permission-list" class="table">
                    </table>
                    <p>
                        <h5 class="localized" text-key="pluginPermissionsEditNewTitle"></h5>
                    </p>
                    <div id="kloudspeaker-pluginpermissions-editor-new">
                        <select id="kloudspeaker-pluginpermissions-editor-new-user">
                        </select>
                        <select id="kloudspeaker-pluginpermissions-editor-new-permission">
                        </select>
                        <button id="kloudspeaker-pluginpermissions-editor-new-add" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div id="kloudspeaker-pluginpermissions-editor-subcontent-by-user" class="kloudspeaker-pluginpermissions-editor-subcontent">
                    <div class="kloudspeaker-pluginpermissions-editor-user-selector">
                        <h5 class="localized" text-key="pluginPermissionsEditDialogUserPermissionsSelectUser"></h5>
                        <select id="kloudspeaker-pluginpermissions-editor-permission-user"></select>
                    </div>
                    <p>
                        <span id="kloudspeaker-pluginpermissions-editor-user-permissions-description"></span>
                    </p>
                    <div id="kloudspeaker-pluginpermissions-editor-user-related-permissions" style="display: none">
                        <h5 class="localized" text-key="pluginPermissionsEffectiveUserRelatedPermissions"></h5>
                        <table id="kloudspeaker-pluginpermissions-editor-user-permission-list" class="table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-permission-context" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-pluginpermissions-context-content" class="loading">
            <table id="kloudspeaker-pluginpermissions-context-permission-list" class="table">
            </table>
            <p>
                <button id="kloudspeaker-pluginpermissions-context-edit" class="btn btn-primary localized" text-key="pluginPermissionsContextEditAction"></button>
            </p </div>
    </script>
    <script id="kloudspeaker-tmpl-permission-editor-listremove" type="text/x-jquery-tmpl">
        <div><i class='fa fa-trash'></i></div>
    </script>
    <script id="kloudspeaker-tmpl-permission-generic-editor" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-pluginpermissions-editor-generic-content" class="loading">
            <table id="kloudspeaker-pluginpermissions-editor-generic-permission-list" class="table">
            </table>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-permission-admin-options" type="text/x-jquery-tmpl">
        <div class="kloudspeaker-permission-admin-options accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle localized" data-toggle="collapse" href="#permissionOptions" text-key="pluginPermissionsAdminOptionsTitle"></a>
                </div>
                <div id="permissionOptions" class="accordion-body">
                    <div class="accordion-inner">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label localized" for="permissions-name" text-key="pluginPermissionsAdminOptionName"></label>
                                <div class="controls">
                                    <select id="permissions-name"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label localized" for="permissions-user" text-key="pluginPermissionsAdminOptionUser"></label>
                                <div class="controls">
                                    <select id="permissions-user"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label localized" for="permissions-subject-option" text-key="pluginPermissionsAdminOptionSubject"></label>
                                <div class="controls">
                                    <select id="permissions-subject"></select>
                                    <div id="permissions-subject-filesystem-item-selector" style="display:none">
                                        <input id="permissions-subject-filesystem-item-value" type="text" disabled></input>
                                        <button id="permissions-subject-filesystem-item-select" class="btn">...</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-mainview-dropbox" type="text/x-jquery-tmpl">
        <div id="kloudspeaker-dropbox" class="closed">
            <div id="kloudspeaker-dropbox-handle">
                <div id="kloudspeaker-dropbox-handle-icon-open" class="kloudspeaker-dropbox-handle-icon">
                    <i class="fa fa-caret-left"></i>
                </div>
                <div id="kloudspeaker-dropbox-handle-icon-close" class="kloudspeaker-dropbox-handle-icon">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
            <div id="kloudspeaker-dropbox-container">
                <div id="kloudspeaker-dropbox-content">
                    <div id="kloudspeaker-dropbox-list" class="well">
                    </div>
                    <div class="btn-group">
                        <li id="kloudspeaker-dropbox-actions">
                            <button class="btn dropdown-toggle"><i class="fa fa-cog"></i>&nbsp;<b class="caret"></b></button>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="kloudspeaker-tmpl-mainview-dropbox-item" type="text/x-jquery-tmpl">
        <div class="kloudspeaker-dropbox-list-item {{if is_file}}file{{else}}folder{{/if}}">
            <div class="item-icon"></div>
            <div class="item-label">${name}</div>
            <a class="item-remove" href="javascript: void(0);"><i class="fa fa-trash"></i></a>
        </div>
    </script>
