<script id="kloudspeaker-tmpl-uploader-dlg" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-uploader">
		<div class="kloudspeaker-uploader-list">
			<div class="kloudspeaker-uploader-file-selector">
				<input type="file" name="uploader-html5[]" multiple="multiple"></input>
			</div>
		</div>
	</div>
</script>

<script id="kloudspeaker-tmpl-uploader-widget" type="text/x-jquery-tmpl">
	<div class="kloudspeaker-uploader-file-selector">
		<form enctype="multipart/form-data">
			<span class="btn btn-success kloudspeaker-uploader-add">
				<i class="icon-upload-alt icon-white"></i>
				<input type="file" class="kloudspeaker-uploader-input" name="uploader-html5[]" multiple="multiple"></input>
			</span>
		</form>
	</div>
</script>

<script id="kloudspeaker-tmpl-uploader-file" type="text/x-jquery-tmpl">

</script>