<div class="row-fluid files-view" data-bind="compose: { view: model.viewType().template, model: model.viewType().module, activationData: $root }, class: { loading: model.loading }, dnd-drag: model.dragHandler, dnd-drop: model.dropHandler" data-dnd-selector=".filelist-item">
</div>

<div style="height: 0; visibility: hidden">
	<div data-bind="compose: { model: 'viewmodels/main/files/iteminfo', activationData: $root }"></div>
</div>
<!--div style="height: 0; visibility: hidden">
    <div id="files-view-item-details" class="item-details" data-bind="if: model.itemDetails.item()">
    	<div data-bind="compose: { view: 'main/files/itemdetails' }"></div>
    </div>
</div-->
