
* {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

* html .btn span, * html .btn i {
	float: left;
	width: auto;
	background-image: none;
	cursor: pointer;
}

body {
	margin: 0;
}

header {
	background: url(images/header_bg.gif) repeat-x 0 -40px;
	width: 100%;
	height: 64px;
	margin: 0;
	display: block;
	padding: 7px 0 0;
}

header h1 {
	background: url(images/mollify.png) no-repeat 9px 0;
	color: #949595;
	font-size: 23px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 112px;
	padding-top: 16px;
	height: 45px;
	margin: 0;
	text-transform: uppercase;
	padding-right: 0;
}

subheader {
	display: block;
	background-color: #bbd5de;
	height: 30px;
	padding-top: 13px;
	padding-left: 15px;
}

subheader h1 {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	color: #909191;
}

.content {
	margin-left: 8px;
	margin-bottom: 8px;
	background-color: #fff;
}

.content h2 {
	font-weight: bold;
}

.clear {
	height: 5px;
	clear: both;
	padding-top: 6px;
}

footer {
	clear: both;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #a1a1a1;
	text-align: right;
	padding-right: 6px;
	border-top: 1px solid #e3e3e3;
}

.error {
	margin-top: 2px;
	margin-bottom: 2px;
	background: #ffedf8 url(images/stop.png) no-repeat 10px 10px;
	padding-left: 85px;
	padding-top: 16px;
	padding-bottom: 1px;
	min-height: 65px;
}

.error .title {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 4px;
}

.error .details {}

.example {
	background-color: #ececec;
	padding: 6px;
	width: 600px;
}

.example.code {
	font-family: "Courier New", Courier, mono;
}

.example.code span.value {
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
}

code {
	font-family: "Courier New", Courier, mono;
}

b {
	font-weight: bold;
}

.note {
	margin-top: 2px;
	margin-bottom: 2px;
	background: #ead0a6 url(images/warning.png) no-repeat 6px 10px;
	padding-left: 85px;
	padding-top: 3px;
	padding-bottom: 1px;
	min-height: 80px;
	width: 600px;
}

.btn {
	background: #2ae;
	display: block;
	position: relative;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin-right: 5px;
}

.btn * {
	font-style: normal;
	background-image: url(images/btn2.png);
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.btn i {
	background-position: top left;
	position: absolute;
	margin-bottom: -5px;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}

.btn span {
	background-position: bottom left;
	left: -5px;
	padding: 0 0 5px 10px;
	margin-bottom: -5px;
}

.btn span i {
	background-position: bottom right;
	margin-bottom: 0;
	position: absolute;
	left: 100%;
	width: 10px;
	height: 100%;
	top: 0;
}

.btn span span {
	background-position: top right;
	position: absolute;
	right: -10px;
	margin-left: 10px;
	top: -5px;
	height: 0;
}

.btn.green {
	background: #9d4;
}

.btn.pink {
	background: #e1a;
}

.btn:hover {
	background-color: #126e9c;
}

.btn.green:hover {
	background: #679a2d;
}

.btn:active {
	background-color: #444;
}

.btn[class] {
	background-image: url(images/shade.png);
	background-position: bottom;
}

* html .btn {
	border: 3px double #aaa;
}

* html .btn.blue {
	border-color: #2ae;
}

* html .btn.green {
	border-color: #9d4;
}

* html .btn.pink {
	border-color: #e1a;
}

* html .btn:hover {
	border-color: #a00;
}